[2012-06-28 22:01] michaelhagedon opened #1 "Email is not working in the demo"
After creating a quiz and running through it, pressing "Print / Send email" does nothing.

This does work in other environments, so we may have some undocumented dependencies. Or possibly it's a bug we caused during the port to CakePHP 2.x.

[2012-06-28 22:01] michaelhagedon opened #2 "arizona.edu email addresses are hard-coded into the application"
That's a very silly thing to miss.

[2012-06-28 23:39] #1 closed, assigned to michaelhagedon

[2012-06-29 19:14] #2 closed, assigned to michaelhagedon

[2012-06-29 19:25] michaelhagedon opened #3 "Replace the sample tutorial"
Google no longer allows embedding so our sample tutorial is broken. We have a new one; I just have to put it in a migration.

[2012-06-29 21:44] #3 closed, assigned to michaelhagedon

[2012-07-10 17:28] michaelhagedon opened #4 "Some dependencies are not documented"
- AllowOverride must be set to all (or maybe something less?) in the Apache VirtualHost configuration
- mbstring must be installed. At least on Mac OS X Server 10.7, it's not by default.
- date.timezone must be set in php.ini
- Does the cake console need to have its permissions changed?
- mod_rewrite must be enabled.

[2012-07-17 17:11] michaelhagedon opened #5 "app/webroot/js/tiny_mce is not routed to TinyMCE Plugin"
See https://groups.google.com/forum/?fromgroups#!topic/gots-discuss/5Hu3afk93ag.

[2012-07-18 22:22] michaelhagedon opened #6 "Add a link from a tutorial back to the public index"
Potential feature: "The only usability issue I could suggest is to offer admins or authors the option to place a link or button within each tutorial, leading back to the GotS index/listing.  Perhaps next to the “Contents” button in the left frame?"

[2012-08-21 16:20] michaelhagedon opened #7 "Allow modification of response box titles"
Feature request from Amy H. on gots-discuss:

"Is there a way to change the headings on the "insert question" response boxes? It seems that they always say "correct" or "incorrect," and it would be nice to have the ability to modify this."

[2012-09-24 19:01] michaelhagedon opened #8 "Prevent the student from moving forward until the question is answered correctly"
Email Feedback: "Do you know if there is a way to force it not to allow a student to move forward in the tutorial until they answer a question correctly?"

[2012-10-12 17:46] michaelhagedon opened #9 "Phone number validation fails for non-US numbers"
Let's just remove the validation...

Original report on gots-discuss:

Hi folks

I seem to have found a problem for GOTS users outside the US: When I enter my phone (when creating a new tutorial) I get the error message "This is not a phone number. Did you include the area code?". This is solved in the short term by NOT entering a phone number, but then that functionality is lost. Where in the cod

[2012-10-12 19:01] #9 closed, assigned to michaelhagedon

[2012-10-24 21:39] michaelhagedon opened #10 "Shibboleth support is not working"

[2012-11-07 18:41] #10 closed, assigned to michaelhagedon

[2012-11-08 19:40] michaelhagedon opened #11 "Allow free text boxes in tutorials and quizzes"
This enhancement has been requested by UAL.

Note that we will not attempt to auto-grade these, but we will include them in the certificate.

[2012-11-15 19:21] michaelhagedon opened #12 "Uploaded images do not display when GotS is installed into the root of a domain"
Discussion here:

https://groups.google.com/forum/#!topic/gots-discuss/YjqYFumLm1A

[2012-11-15 20:09] michaelhagedon opened #13 "Maintain the migrations in SQL also"
https://groups.google.com/forum/#!topic/gots-discuss/RVbcflqPobA

[2012-11-15 23:46] michaelhagedon opened #14 "Tutorial templates"
"It would be nice to be able to choose from a template instead of creating each new guide from scratch."

Source:
https://groups.google.com/forum/#!topic/gots-discuss/woiDp4Nx5V8

[2012-11-29 23:31] michaelhagedon opened #15 "TinyMCE QuickHelp plugin breaks when using a theme"
The root URL written in the cakephp_js element is incorrect.

[2012-11-29 23:33] #15 closed, assigned to michaelhagedon

[2012-12-06 17:51] #11 closed, assigned to michaelhagedon

[2012-12-07 18:35] michaelhagedon opened #16 "In question answers, certain characters are stripped in the public interface"
Money values are being corrupted, e.g., $2,738,000,000 is changed to ,738,000,000 and $53,999,000,000 is changed to ,999,000,000. Probably has something to do with a regex or QH_urldecode.

[2012-12-07 18:52] michaelhagedon opened #17 "Make the custom TinyMCE icons darker"
Particularly free response and definition ... they're hard to read.

[2012-12-28 21:48] michaelhagedon opened #18 "Add category support"
UAL has requested improvements to the public index centered around grouping tutorials into categories. The details will be managed internally, but the code will be released as we go.

We'll want to update the user documentation too.

[2013-01-11 23:31] michaelhagedon opened #19 "Pop-ups don't work in some cases"
Problem with the pop-ups both with a custom theme and without are discussed here: https://groups.google.com/d/topic/gots-discuss/MvHD6lGovgU/discussion

[2013-01-17 17:32] #12 closed, assigned to michaelhagedon

[2013-01-25 16:45] michaelhagedon opened #20 "Quizzes can't be deleted"
This is a known bug that we just somehow never got around to fixing. Removing the relevant row from the final_quizzes table is a workaround.

[2013-02-05 18:45] michaelhagedon opened #21 "Break dependency on jquery tools CDN"
It went down today. :-/

[2013-02-05 20:51] #21 closed, assigned to michaelhagedon

[2013-02-05 22:01] michaelhagedon opened #22 "Test and fix Unicode support"
It's been reported that using the Cyrillic script results in nonsense. If this is a MySQL problem, the fix should be easy: recommend that people create UTF8-compatible databases and make sure GotS is using a UTF8 connection.

If it's PHP (more likely), that's more of a problem.

BTW, Greek without diacritics works in UAL's install, but Hebrew does not. Polytonic Greek fails.

[2013-02-07 17:12] lmadsen opened #23 "RefWorks seems disabled in tutorial"
Hello, we have created tutorials using Guide on the Side (GOTS) for Ref Works, RefWorks, a web-based bibliography and database manager from ProQuest. This tool requires Adobe Flash.
 The issue that we're having is that the user is unable to use the Ref Works tool within the tutorial, it is as though GOTS has disabled it, or else, RefWorks has an issue . Anyone else have this issue with GOTS and ce

[2013-02-12 15:55] mmikitka opened #24 "Class 'ClassRegistry' not found in app/plugin/Migrations/Lib/MigrationVersion.php"
While running,

../lib/Cake/Console/cake Migrations.migration --plugin Tags all

I got the following error message.

Cake Migration Shell
PHP Fatal error:  Class 'ClassRegistry' not found in /srv/www/htdocs/guide_on_the_side/app/Plugin/Migrations/Lib/MigrationVersion.php on line 62
Fatal Error Error: Class 'ClassRegistry' not found in [/srv/www/htdocs/guide_on_the_side/app/Plugin/Migrations/Lib/Mi

[2013-03-11 19:42] michaelhagedon opened #25 "tutorials.deleted and other DB fields have a nonsensical configuration"
The default is set to null, but null is disallowed. Let's make the default false / 0.

[2013-04-30 17:15] michaelhagedon opened #26 "Views do not support CakePHP i18n features"
Dumb mistake: all labels should be wrapped with the __() function. http://book.cakephp.org/2.0/en/core-libraries/internationalization-and-localization.html

[2013-05-08 16:17] michaelhagedon opened #27 "Questions and answers do not appear in printed results"
https://groups.google.com/forum/#!topic/gots-discuss/6489n6OEpOQ%5B1-25-false%5D

[2013-05-22 15:19] ranomi opened #28 "Library Catalog, Quick Search doesn't work"
Searches made in tutorial using Quick Search do not display in the tutorial window. Search results open in a new window. Is there any way to fix it?

Thank you!

[2013-05-24 05:22] michaelhagedon opened #29 "Fix Migrations PHP 5.4-related issues"
Strict Error: Only variables should be assigned by reference in [/var/www/Guide-on-the-Side/app/Plugin/Migrations/Lib/CakeMigration.php, line 166]

<notice>2013-05-23 22:16:57 Notice: Only variables should be assigned by reference in [/var/www/Guide-on-the-Side/app/Plugin/Migrations/Lib/CakeMigration.php, line 166]
</notice>Strict Error: Only variables should be assigned by reference in [/var/www/

[2013-05-24 05:34] #29 closed, assigned to michaelhagedon

[2013-09-05 20:04] michaelhagedon opened #30 "Tutorials are not navigable with the keyboard"
This means that GotS is not accessible. We're going to fix this by making a fully-functional single-page view for tutorials

[2013-09-09 23:43] #7 closed, assigned to michaelhagedon

[2013-09-18 16:55] michaelhagedon opened #31 "TOC links and the new mode-switching links don't work when the tutorial is undocked"

[2013-09-18 17:00] LunkRat opened #32 "Protocol is hardcoded for jQuery CDN (allow https)"
I tried to run GOTS over https: and found that the jQuery library was being blocked as "mixed content" because GOTS was loading it via http:

No jQuery = unhappy GOTS (dialog boxes are broken in the editor, etc.)

Fixed and added a patch: https://gist.github.com/LunkRat/6612102

With the above patch GOTS works over https:

[2013-09-18 17:45] #31 closed, assigned to michaelhagedon

[2013-09-19 18:50] michaelhagedon opened #33 "Repair the revision interface"
GotS tracks revisions of tutorials, but the interface for this has been broken for a long time.

[2013-10-03 23:53] #4 closed, assigned to michaelhagedon

[2013-10-03 23:53] #32 closed, assigned to michaelhagedon

[2013-10-03 23:54] #30 closed, assigned to nobody

[2013-10-04 21:02] michaelhagedon opened #34 "The tutorial url field doesn't support EZProxy query-string based starting URLs"
E.g., http://ezproxy.yourlibrary.edu/login?url=http://www.example.com/resource

The above example works fine, but as soon as a query string is introduced into the resource URL, the built-in CakePHP URL validator doesn't let it through. And it shouldn't, because a query string can only have one question mark according to RFC 1738. We have several options for fixing this, but for now I'm choosing to

[2013-10-04 21:08] #34 closed, assigned to michaelhagedon

[2013-10-04 21:19] michaelhagedon opened #35 "Tutorial creator can't add question answers and responses in IE, Chrome"
The add button in the question dialog results in "Uncaught TypeError: Cannot call method 'replace' of undefined" in add.js, line 63.

[2013-10-16 21:27] #13 closed, assigned to michaelhagedon

[2013-10-17 23:48] #5 closed, assigned to michaelhagedon

[2013-11-05 20:07] liquid06 opened #36 "From the single-page view, printing from the browser results in a blank white page"
1. Visit the single page view and use your web browser's File > Print option
2. No content is displayed in the print preview

This means that the content of the tutorial itself can't be printed. I've reproduced with Chrome and Firefox (haven't tested IE yet.) This was introduced in 1.0-beta3.

Using the "print" button at the bottom of the page and then selecting the next round "print" button still

[2013-11-08 19:42] #36 closed, assigned to michaelhagedon

[2013-11-15 00:20] michaelhagedon opened #40 "The WYSIWYG cursor disappears in IE10"
At least sometimes.

From GWLA SLO session.

[2013-11-15 00:39] michaelhagedon opened #41 "Allow more than one correct answer per question"
If there's more than one good answer, or there's not one correct answer.

Related: we heard from UNLV that students just look at the color of the response heading and don't read the text.

From GWLA SLO session.

[2013-11-15 00:40] michaelhagedon opened #42 "Can we highlight parts of the target site?"
Not sure this is technically possible, but it would save having to upload images with the highlighting.

From GWLA SLO session

[2013-11-15 00:46] michaelhagedon opened #43 "Allow sysadmin to add/remove controls from WYSIWYG"
E.g., text color. Different institutions might want to include various controls that others don't want.

From GWLA SLO session

[2013-11-15 00:47] michaelhagedon opened #44 "Allow audio/video embedding"
Probably hosted somewhere else

From GWLA SLO session

[2013-11-15 02:00] michaelhagedon opened #45 "Mail dependencies are not documented"
Might be hard to document, since mail setups vary so much.

Consider adding official SMTP support

From GWLA SLO

[2013-11-15 02:03] michaelhagedon opened #46 "Make GotS "phone home""
Make GotS installs tell UAL they exist. Get feedback from community to see what data we can collect. At a minimum, we'd want to know the version of GotS. Other useful info would be location, contact email, number of (published) tutorials, base URL?.

This should probably be opt-out. We could also inform the admin when there's an update (via the web interface and email).

[2013-11-15 02:09] michaelhagedon opened #47 "Make search engines find the actual tutorial and not view_tutorial_only"
Google indexes the tutorial frame, not the tutorial itself. Makes sense from Google's perspective, but confusing for users.

[2013-12-03 17:21] michaelhagedon opened #48 "Print / Send email is not working"
When an email address is supplied by the user, the AJAX request is coming back with HTTP error 500.

This seems to be a regression.

[2013-12-03 19:53] #48 closed, assigned to michaelhagedon

[2013-12-12 20:25] michaelhagedon opened #50 "Address frame-busting"
GotS currently does not work with sites that implement frame-busting and related behaviors, including X-FRAME-OPTIONS, target=blank/top on links, and various JavaScript methods.

Converting the tutorial (sometimes!) into an actual pop-up would address all of those, if browsers allow it and it's usable.

[2013-12-18 20:35] stephilly opened #51 "SCORM or Tin Can"
Is there any push or effort to make Guide on the Side quizzes/tutorials conform to SCORM or Tin Can API specifications?

[2014-01-06 20:28] libctheg opened #52 "GotS and new LexisNexis interface"
Searches are not being completed with results.  L/N not reporting any error for the failure.

[2014-01-17 05:11] liquid06 opened #53 "The main layout should be more flexible"
We're asking users to resize and re-arrange their browser windows, but that could mean  some of the content in the popup message getting ungracefully cropped because the layout is fixed-width. :/

![gots-quick-thing](https://f.cloud.github.com/assets/460005/1937881/77ded9c2-7f35-11e3-991e-b6c47c64ba99.png)

[2014-01-17 05:15] liquid06 opened #54 "Organization of the main creator form"
Individual fields might also need different labels, more description, or another way of presenting the description.

![image](https://f.cloud.github.com/assets/460005/1937908/1abff784-7f36-11e3-81ea-c8f3858ac653.png)

[2014-01-17 05:18] liquid06 opened #55 "Time for another iteration on the single-page view styles"
Oops! I'm sure there's more we didn't test specifically at a really small screen size. This will become really apparent really fast for users who are viewing a tutorial in popup mode and then choose the single-page display.

![image](https://f.cloud.github.com/assets/460005/1937934/8524b0ce-7f36-11e3-91ec-46406d2dbd04.png)

[2014-01-17 05:29] liquid06 opened #56 "Design for the popup page"
Users have clicked on a link to get to the tutorial, but if it's a tutorial for a resource that framebusts (that's a word now, right?) they'll see this screen instead.

We may need to communicate:
- We're going to open an actual popup window (no surprises)
- We're not doing some suspicious pop-under advertising
- How _not_ to lose the window because it didn't end up in the front (I haven't seen th

[2014-01-17 05:40] liquid06 opened #57 "New window instructions display in popup mode for single-page view"
If the tutorial is in popup mode, and a user has navigated to the single-page view...

...makes no sense. Also, if you actually click the link for [resource name] the result is pretty awkward.

[2014-01-17 05:42] liquid06 opened #58 "Test the popup mode with screenreader software"
Test and document the experience of the popup mode using a screenreader - make sure users can still get to the single-page view and navigate the content of the tutorial.

[2014-01-17 05:46] liquid06 opened #59 "Make an illustration for the popup page"
On the popup page, we need to show:
- Users should have the site less-than-full-screen
- The tutorial is going to pop up on the left

Sequence we want users to take to make sure they don't "lose" the tutorial popup:
- See the popup page
- Resize the window or make sure it's not full screen
- Click the button
- See the tutorial content appear on the left
- Start working with the content!  :)

[2014-01-17 05:54] liquid06 opened #60 "Add a button style in default.css"
Use this for the action button on the popup page and the Start tutorial button on the tutorial info page. Consider including a right arrow since the current tutorial info page includes something similar in text.

![image](https://f.cloud.github.com/assets/460005/1938062/bc3cc6aa-7f3b-11e3-8cb6-6ee360dda6f4.png)

[2014-01-17 05:56] liquid06 opened #61 "Links set to open in the right frame are broken in popup mode"
They don't appear to do anything at all, actually.

[2014-01-17 05:59] liquid06 opened #62 "In single-page view popup mode, step-by-step link doesn't work"
Expected behavior: switch the tutorial to the step-by-step mode.

Actual behavior: opens the popup screen in the side-by-side-sized window. Clicking the button results in the resource for the tutorial opening in the same window.

[2014-01-17 13:24] liquid06 opened #63 "Provide consistent navigation for creators who are logged in"
Sometimes we provide a link to the admin index and sometimes we don't. Sometimes we don't show the admin navigation at all (like on the public index, though that's recently changed.)

[2014-01-21 01:46] #53 closed, assigned to liquid06

[2014-01-21 02:25] #60 closed, assigned to liquid06

[2014-01-29 21:49] bgalbreath opened #65 "LexisNexis Academic Loses Functionality inside of Guide on the Side"
Hello,

We have recently created a GOTS highlighting LexisNexis Academic. However, LNA doesn't not seem to function inside of GOTS. (It works perfectly fine outside of GOTS.) In this tutorial, we navigate to LNA from library.eou.edu. The LNA landing page displays normally, but any links or searches from there just seem to loop back to the LNA landing page. Similar tutorials with other databases ar

[2014-01-31 03:51] #55 closed, assigned to liquid06

[2014-02-10 15:13] liquid06 opened #66 "That web page you're seeing - you can interact with it!"
Users can't always tell that the page to the right of the guide is something they can interact with. Can GotS do a better job of communicating that the page in the right frame is not just a big screenshot?

[2014-03-10 15:02] purdueilana opened #67 "Not working in chrome."
I logged into guide on the side today, and it looks like this in chrome: http://screencast.com/t/W7muA0ai4NH
Works fine in Firefox and IE.

I observed this on the UA's instance and Purdue.

[2014-03-18 16:21] TTUHSClibraries opened #68 "Theming only works if the first chracter is uppercase"
In my testing, using a custom theme only works if the first character is uppercase. If this is expected behavior, the README should say so.

[2014-03-18 17:03] TTUHSClibraries opened #69 "Allow only administrators to delete a tutorial"
Allow only administrators to delete a tutorial

[2014-03-25 15:52] mmikitka opened #70 "Describe database migration procedure in UPGRADE.md"
Step 10 in UPGRADE.md does not describe how to determine whether DB upgrades are required, and how to apply necessary upgrades. My suggestion is:

If you have command-line access, run the following command to determine whether database upgrades are required. This will compare the current version to the latest version.

cake -app PATH_TO_GOTS_APP_FOLDER Migrations.migration status

To apply upgrade

[2014-03-26 03:40] #20 closed, assigned to michaelhagedon

[2014-03-26 05:10] #35 closed, assigned to michaelhagedon

[2014-03-27 02:11] michaelhagedon opened #72 "GotS email never gets delivered to gmail"
At least from what I've seen...

[2014-03-27 19:34] #70 closed, assigned to nobody

[2014-03-28 00:13] #63 closed, assigned to liquid06

[2014-04-28 18:10] michaelhagedon opened #73 "Suppress the feedback link"
Make it possible for a tutorial creator to suppress the feedback link.

[2014-05-21 15:55] yvonnemery opened #74 "Images appear fuzzy"
When images are uploaded, they are automatically resized and appear lower in quality and are blurred.

[2014-05-21 16:00] yvonnemery opened #75 "Magnify images"
Would like to see the ability for users to magnify an image.

[2014-05-21 16:02] yvonnemery opened #76 "Font size in quizzes"
The font size in the quizzes appears larger then in the narrative text. I would like to have all fonts be the same size and same font style.

[2014-06-02 16:48] michaelhagedon opened #77 "Animated GIFs are damaged during upload"

[2014-06-11 20:17] yvonnemery opened #78 "Multiple Responses in Quizzes"
Allow for quizzes to have more than one correct option. Example, choices A and B are correct.

[2014-06-18 22:54] michaelhagedon opened #79 "Allow editing of tutorial HTML"

[2014-06-21 05:13] #54 closed, assigned to liquid06

[2014-07-04 13:37] liquid06 opened #80 "Tutorial creators can choose popup mode from the new tutorial form"
If someone is creating a tutorial for LexisNexis they might already know that it needs to be in popup mode, but currently they need to create the tutorial and then go back to "Edit Information" to set it up that way.

I think that option should be available when first creating the tutorial too :)

[2014-07-04 19:13] #56 closed, assigned to michaelhagedon

[2014-07-07 19:42] ewentz opened #81 "Warn when closing browser"
One of our users accidentally closed the browser mid-tutorial.  That person requested that a warning appear when someone closes the browser tab.

[2014-07-10 00:56] michaelhagedon opened #82 "Adding a new question and making any answer correct after the second results in an empty alert box"
And the question is not added. At least sometimes, this is because the order parameter on the jQuery-cloned answers is not set, and then correct_answer is set to an empty value. This results in a validation error, but it's not displayed for some reason.

[2014-07-14 19:36] SLL747 opened #84 "Placement of SAVE button in Edit mode"
It would be helpful if the "Save" button in Edit mode could be put in a more visible place.  It's too easy to forget to save occasionally with the button all the way at the bottom. It would fit well in the list of blue buttons on the right side (IMO).
Thanks for considering.

[2014-08-27 23:52] sephyrix opened #86 "Issue with creating a Question"
Hi I'm from CSUSM and I've been having some trouble with adding a question for quizzes. After entering in all the information for the quiz, it seems to just display the number of times I have attempted to create a quiz. Any help would be appreciated.

![questioncreation](https://cloud.githubusercontent.com/assets/6351506/4069353/1f0f5f1e-2e45-11e4-86ae-7e4552d05372.PNG)

[2014-09-23 19:20] #58 closed, assigned to liquid06

[2014-09-23 19:59] #57 closed, assigned to michaelhagedon

[2014-09-23 19:59] #61 closed, assigned to michaelhagedon

[2014-09-23 19:59] #62 closed, assigned to michaelhagedon

[2014-09-23 19:59] #80 closed, assigned to nobody

[2014-09-23 19:59] #82 closed, assigned to michaelhagedon

[2014-09-23 20:00] #59 closed, assigned to liquid06

[2014-10-08 16:09] liquid06 opened #87 "Using Ctrl+F in a side-by-side tutorial can break the paging"
In every browser except Firefox, searching for a term using Ctrl+F breaks the paging. Once it's broken, there's no way to get back to seeing one individual page displaying at a time without refreshing the page.

![scrolling_100814_090845_am](https://cloud.githubusercontent.com/assets/460005/4562549/623aab96-4f05-11e4-81c0-4714bf7f1a55.jpg)

In Firefox, the tutorial won't scroll to show the term yo

[2014-11-05 18:15] liquid06 opened #89 "Improve the description for popup mode in the creator interface"
In the interface, the popup mode checkbox currently says:

Leslie and Ginger worked on drafting updates for the creator documentation to describe the popup mode, and after that it seemed like this description would be clearer:

[2015-01-09 20:54] liquid06 opened #90 "Improve affordance for definition boxes"
It's not clear that definition boxes are things you can interact with. Some ideas we've discussed for resolving this:
* Adding +/- or X icons
* Making them look like regular links

[2015-01-09 20:56] liquid06 commented on #73
We also talked about making the text of the feeback link customizable.

[2015-01-12 16:32] michaelhagedon commented on #65
Strangely, this is working without pop-up mode (#50) in Firefox 34, but in Chrome 39 I get "Your browser must have cookies enabled to use this site. Consult your browser's Help section to enable cookies." from LNA. IE 11 is also working. The only solution may be using pop-up mode, but we'll see.

[2015-01-12 16:34] michaelhagedon commented on #52
We're actually not seeing this anymore, but see #65 for a different issue.

[2015-01-12 16:34] #52 closed

[2015-01-12 16:35] michaelhagedon commented on #50
Popup mode is the lowest common denominator, and it's what we've implemented. It will be released in 1.0-beta4.

[2015-01-12 16:35] #50 closed

[2015-01-12 16:43] michaelhagedon opened #91 "The step arrows are too far from the tutorial content"
Students miss them sometimes.

[2015-01-12 16:44] michaelhagedon opened #92 "Visited link color is confusing"
Students don't always realized visited links are still clickable.

[2015-01-12 16:46] michaelhagedon opened #93 "Make chapter progress ("Step x of y") configurable"
With shorter tutorials like UAL is now doing, the chapter progress in confusing. But make it configurable in case others still want it.

[2015-01-12 16:49] michaelhagedon commented on #86
We've seen this issue a number of times, and it may be fixed in master, but it needs more testing.

[2015-01-12 16:51] michaelhagedon opened #94 "Creators cannot delete quizzes"

[2015-01-12 17:55] simpsonw opened #95 "Search broken on paginated results."
# Steps to reproduce
1. Click on a pagination link other than 1.
2. Search for something in the "Search" box.

# Expected behavior
The search results for the term appear on the screen.

# Actual behavior
You get a 404 page (e.g. "Error: The requested address '/applications/quickHelp/tutorials/search/page:2/term:Plagiarism' was not found on this server.")

[2015-01-14 22:49] simpsonw opened #96 "Header links in /login broken for logged in users."
# Steps to reproduce
1. Go to /login and login as a user with admin rights.
2. After logging in a being redirected, mannually go to /login by typing it into your browser.
3. Click either "Admin" or "Change Password".

# Expected Result
You will see either the "Admin" or "Change Password" page.

# Actual Result

You get a 404.  This appears to because the links end up being relative to /flex_auth.

[2015-01-15 15:54] jaronkk opened #97 "Error when timezone isn't set"
I was setting up GotS locally and was receiving an error when CakePHP was attempting to serve asset files.  The error was caused by my local setup not having a default timezone set in PHP.

I made a commit in our fork to fix the issue, and also add a setting the config.yml file:  https://github.com/ndlib/Guide-on-the-Side/commit/1130e3073a4ec1a4f8b023df55313741ec6796c7

If that looks like an accep

[2015-01-15 16:06] jaronkk opened #98 "Graded question images have incorrect src attribute"
There are two bugs here:

1) The graded test and quiz results don't call the _parseImages function to fix the src attribute on the img tags.
2) Emailed quiz results need a full url including the host for images to show up correctly.

I added a fix for both of those issues on our fork here: https://github.com/ndlib/Guide-on-the-Side/commit/d592ff1fee8cbebbeccbc4ed81be7ca509b658c5

Let me know if I

[2015-01-15 16:19] jaronkk opened #99 "Timeout error after save (Lucene)"
After a seemingly random number of times saving a tutorial, our installation of Guide on the Side will start throwing timeout errors every time a tutorial is saved.  The only way to resolve while leaving Lucene enabled has been to clear out the Lucene index, but that was only a temporary fix.

For now we've just disabled the Lucene code in the Tutorial's afterSave function.  I looked a little bit,

[2015-01-15 16:21] jaronkk commented on #72
I've been able to receive emails from GotS in both my personal gmail and my work (Notre Dame) gmail account.

Could it be that Gmail is marking email sent by your web server as spam, rather than specifically GotS?

[2015-01-15 22:34] simpsonw commented on #99
@jaronkk
That branch is related to a bug that was causing search results to either be duplicated or not show up at all.  I have not encountered the issue you described, but it's possible the two things might be related.  Am I correct in understanding that the issue presents itself after repeatedly saving the same tutorial over and over?

[2015-01-15 22:39] simpsonw commented on #99
@jaronkk
Regarding your comment about where GotS uses Lucene, right now it's primarily being used in the UA Library theme, which is hosted in an internal, private repository.  The bug I mentioned in the above comment is on our internal issue tracker.  If we can get Lucene to work more reliably with GotS, we may look into making it a more prominent part of the open source release.
@jaronkk
Regardin

[2015-01-20 17:35] simpsonw commented on #94
I'm unable to reproduce this issue.  The delete button is appearing when I'm logged in as a creator and I am able to delete the quiz without issue.  Are there any more steps I need to take to reproduce it?

[2015-01-20 17:43] simpsonw commented on #94
This is working on the master branch and I've confirmed that it works on the UAL production server.  Closing as a possible duplicate of #20.

[2015-01-20 17:43] #94 closed

[2015-01-20 18:37] simpsonw commented on #92
I have pushed some changes in the branch gh_92_link_styles.  I have removed the :visted style for the regular tutorial links so that they always appear clickable.  Additionally, I believe there was also concern that the students did not think that the definition box links were clickable, so I have changed the bottom border to be solid rather than dotted to look more like a "regular" link.

[2015-01-20 20:40] simpsonw commented on #75
I've looked into this a bit and it seems possible but there is an important caveat: it appears that the images have been getting resized upon upload, so the magnify feature would not work retroactively.

[2015-01-22 15:25] jaronkk commented on #99
@simpsonw The issue presents itself when saving in general.  I was able to recreate it by saving one tutorial after another, and also by saving the same tutorial over and over.  Since we don't have a use case for using Lucene in our environment, I can't really justify spending time debugging the problem.

What if Lucene could be enabled/disabled via a configuration option?  Something like this:
[c

[2015-01-22 16:01] simpsonw commented on #99
@jaronkk I think that's an interesting idea that's worth looking into.  I think it should be fairly straighforward to implement, but I will have to take a look at the code.  Out of curiosity, could you tell me which branch you have checked out that's having the problem?

[2015-01-22 16:34] jaronkk commented on #99
We first encountered the problem when we set up a test instance of GotS using the 1.0-beta2 release.  At that time we didn't spend time diagnosing the problem since we just had one librarian using it, and her changes still saved.

We just recently set up a [production GotS instance](http://library.nd.edu/guide-on-the-side/).  I have a [hesburgh-master branch](https://github.com/ndlib/Guide-on-the-

[2015-01-22 16:51] simpsonw commented on #99
@jaronkk, that's really puzzling.  Given the difficulty to reproduce and the fact that, as you mention, the issue may be Lucene-realted, I think your idea of adding a configuration option might be the best way to go.  The simplest way might be to just check the value of that option in the afterSave callback for the Tutorials model and only execute the Lucene index code (around line 504) if it's tr

[2015-01-22 17:19] jaronkk commented on #99
@simpsonw I haven't made the pull request, but here's the comparison: https://github.com/ndlib/Guide-on-the-Side/compare/ualibraries:master...ndlib:lucene-configuration

I think it might be easiest if you incorporated the change into your 569_lucene_bug branch since you're working with these files and there's no hurry from my end.

config.sample.yml:
* Added lucene.enabled config option

Tutorial.

[2015-01-22 22:51] simpsonw commented on #99
@jaronkk The changes look good to me and I think this would be a useful option.  The only problem is that since you didn't have the 569_lucene_bug_branch checked out when you made the changes, it makes the merge and diff kind of ugly since there are some changes to the afterSave function in Tutorial.php in that branch (I tried it locally).

Would you mind rebasing off of the 569_lucene_bug branch?

[2015-01-23 00:15] simpsonw commented on #75
I have the functionality working on the PHP side to create a thumbnail/original image pair, but I'm having some issues getting the JavaScript to output the thumbnail in such a way that it can be linked to the original.

[2015-01-23 16:52] jaronkk commented on #97
@michaelhagedon or @simpsonw Would you like me to go ahead and make a pull request for this timezone tweak?

[2015-01-23 16:55] michaelhagedon commented on #97
@jaronkk We’ll take any improvements you’ve got. ☺

[2015-01-23 21:49] simpsonw commented on #75
I was working some more on this and noticed that images in the thumbnail folder I created weren't showing up when I previewed the tutorial despite being there while I was editing it.  I was curious as to what had broken this, so I reverted to a previous revision.  To my surprise, it appeared as though any time an image wasn't in uploads/images, it wouldn't be properly output.  I checked and it loo

[2015-01-23 22:08] michaelhagedon commented on #75
Agreed! I've never been very comfortable with GotS' reliance on regular expressions (it's not just _parseImages; it's all of SteppableBehavior). I should have used a proper parser.

I assume you're talking about the TinyMCE phpimage plugin config.php. That was borrowed code, and I assumed GotS users wouldn't find that. But you're right -- it's weird!

Please do. :-) I would love this to be better.

[2015-01-23 22:40] simpsonw opened #104 "SteppableBehavior doesn't respect phpimage config paths"
# Steps to reproduce

* Edit $url_image_directory to something other than 'uploads/images' in app/webroot/js/tinymce_plugins/phpimage/config.php.
* Create or edit a tutorial and insert an image.
* Save the tutorial and preview it.

# Expected the behavior
* The image will appear in the tutorial.

# Actual behavior
* The image link is broken

# Notes

This appears to be because the _parseImages fun

[2015-01-23 22:44] simpsonw opened #105 "Rewrite the SteppableBehavior with an XML/HTML parser"
Currently, the SteppableBehavior is using regular expressions to parse the HTML stored in Tutorials.  This is not ideal since HTML uses a context-free rather than a regular grammar, so regular expressions are not the best tool to parse HTML.  It would probably be best to rewrite this using an HTML or XML parser.

[2015-01-23 22:45] simpsonw commented on #75
Thanks for the feedback!  I kind of figured that there were two separate tasks in there: one to rewrite the SteppableBehavior using an XML/HTML parser and another to make the upload location for imags more flexible, so I've created #105 and #104 to address these issues.

[2015-01-26 23:54] simpsonw commented on #75
I have the basic functionality for this working.  Here's the basic workflow:

* User uploads a picture via TinyMCE
* Two copies are saved to the server, one in the original resolution and the other resized.
* The TinyMCE editor outputs a link with an href property pointing to the original resolution image that wraps an img tag that has a src attribute pointing to the resized image.
* When the user

[2015-01-27 18:50] simpsonw commented on #75
I think this is pretty much ready to go.  I have tested it on the following platforms:

* Firefox 35 for Linux Mint
* Google Chrome 40 for Linux (64 bit)
* Internet Explorer 11 on Windows 8
* Internet Explorer 10 on Windows 7
* Internet Explorer 9 on Windows 7
* Internet Explorer 8 on Windows XP

I don't have a Mac handy, so I have not tested Safari, so that would be a good thing for whoever  want

[2015-01-27 18:53] yvonnemery commented on #75
The images are much clearer now, so I think this is fixed.
Thanks

From: Will Simpson [mailto:notifications@github.com]
Sent: Tuesday, January 27, 2015 11:51 AM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] Magnify images (#75)

I think this is pretty much ready to go. I have tested it on the following platforms:

  *   Firefox 35 for Linux Mint

[2015-01-27 19:41] simpsonw commented on #75
@yvonnemery, I just deployed what I have to

http://webdev.library.arizona.edu/applications/quickHelp/tutorial/1-image-magnify-demo

There are three chapters, each with an image.  Click on the image to see the full resolution image.  Let me know what you think of the functionality and behavior.

[2015-01-27 19:43] yvonnemery commented on #75
It works great!

From: Will Simpson [mailto:notifications@github.com]
Sent: Tuesday, January 27, 2015 12:41 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] Magnify images (#75)

@yvonnemery<https://github.com/yvonnemery>, I just deployed what I have to

http://webdev.library.arizona.edu/applications/quickHelp/tutorial/1-image-magnify-demo

There a

[2015-01-27 20:03] michaelhagedon commented on #75
Nice, @wsimpson! I like it.

The first image in that example takes over the whole screen on my computer, and I wonder if people will lose the fact that they're still in a tutorial. Maybe a max size on the dialog would be good?

[2015-01-27 20:17] simpsonw commented on #75
Sounds like a good idea, @michaelhagedon, I will give that a shot.

[2015-01-28 16:24] simpsonw commented on #99
@jaronkk, did the configuration option from #102 fix the issue for you?  I ask because I'm wondering if this task should still be open.

[2015-01-28 21:09] simpsonw commented on #75
I have deployed a few changes to webdev:

* The height and width are capped so they don't take up so much of the screen (see the first and last image on http://webdev.library.arizona.edu/applications/quickHelp/tutorial/1-image-magnify-demo/single-page)
* A bug that was causing the modal images to be broken in single page mode has been fixed.

Let me know what you think @michaelhagedon and @yvonnem

[2015-01-28 21:13] yvonnemery commented on #75
Not sure I am giving you the correct feedback here, but the when I click on Image 1 it opens so that I only see about ½ of the picture.
Yvonne

From: Will Simpson [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 2:10 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] Magnify images (#75)

I have deployed a few changes to webdev:

[2015-01-28 21:30] simpsonw commented on #75
Interesting.  Could you tell me which browser and operating system you're using, @yvonnemery?

[2015-01-28 21:31] yvonnemery commented on #75
Firefox. Windows.
You can come look. At my desk and that is rare.

From: Will Simpson [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 2:31 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] Magnify images (#75)

Interesting. Could you tell me which browser and operating system you're using, @yvonnemery<https://github.com/yvonnemer

[2015-01-28 21:47] simpsonw commented on #75
Looks like @yvonnemery was being served a cached copy of the page.  After the cache was cleared, everything displayed properly.

[2015-01-28 22:30] simpsonw commented on #86
I was unable to reproduce this issue locally.  I checked out of the 1.0-beta3 release and set up a database and tried adding and editing a quiz and its questions, but never got the error.  Do we have any more information about the steps needed to reproduce the issue?

[2015-01-29 16:43] simpsonw commented on #75
This has been moved into review.  If @michaelhagedon or anyone else wants to review this so I can merge it, I would really appreciate it.

[2015-01-29 17:47] simpsonw commented on #72
Gmail seems to at least work with the SMTP option from #106.  Any objections to me closing this task?

[2015-01-29 17:52] michaelhagedon commented on #72
Go for it.

[2015-01-29 17:56] simpsonw commented on #72
Closed by #106.

[2015-01-29 17:56] #72 closed

[2015-01-29 23:51] simpsonw commented on #93
I have created a branch (gh_93_chapter_progress) for what I have so far.  I think it pretty much covers it, but I want to test it a bit more and get @michaelhagedon's opinion on the migrations-related stuff.

[2015-01-30 16:13] simpsonw commented on #93
Looks like there are some issues with the migration for the db change, will look into it.

[2015-01-30 17:51] simpsonw commented on #93
I believe I have fixed the db migration issues.  I deleted the branch on Github and created a new one locally and then pushed it so the old commits would not be cluttering things.  I have also committed the appropriate changes to the private UAL Subversion repo.

[2015-01-30 21:19] FStop commented on #91
What about something like this, with navigation at the top, instead of the bottom?

![screen shot 2015-01-30 at 2 17 09 pm](https://cloud.githubusercontent.com/assets/1437322/5983442/b6d1f9be-a88a-11e4-879b-d16b75a2afc2.png)

I couldn't resist getting rid of some images, shadows, etc. while I was in there messing around :innocent:

I'd love to take a crack at the theme, but maybe later...

[2015-01-30 21:32] michaelhagedon opened #107 "Upgrade to Universal Analytics"
Because that's the only choice for new accounts.

[2015-01-30 21:57] michaelhagedon commented on #91
That seems more likely to be noticed. Only usability testing would say for sure, but it seems like a good guess to me. Opinions, @yvonnemery , @lsult ?

[2015-01-30 21:57] FStop commented on #90
Where can one find an example of this?

[2015-01-30 22:04] michaelhagedon commented on #90
It might be mainly that the dotted underline on the links confused students, but I'm not sure. @simpsonw may have addressed this here: 2cc03cece83a793f41172c8548554d5855a3637c

[2015-01-30 22:08] simpsonw commented on #90
That's correct, @michaelhagedon, it was a simple change to make the bottom solid so they look like "normal" links, although I'm certainly open to any other suggestions.

[2015-01-30 22:11] michaelhagedon commented on #90
Oh, and as far as an example, the "Keyword search" thing on the first slide here is a definition box:
http://www.library.arizona.edu/applications/quickHelp/tutorial/locating-childrens-literature

[2015-01-30 22:11] yvonnemery commented on #91
Hmm… had not thought of that. I think it looks better than at the bottom.

From: Michael Hagedon [mailto:notifications@github.com]
Sent: Friday, January 30, 2015 2:57 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

That seems more likely to be noticed. Only usability testing would say fo

[2015-01-30 22:16] simpsonw commented on #73
I have committed some changes to the  gh_73_suppress_feedback_link branch.  I decided to add both the ability to suppress the link and the ability to customize the text.  The general idea works like this:

* When a Tutorial is created, there is a fieldset containing two inputs for the feedback link: a checkbox that controls visibility ("Show feedback link", checked by default) and a text input con

[2015-01-30 22:21] lsult commented on #91
I like that it is closer, but like Yvonne, like it better under the words since they have to advance the arrow after reading?

Thanks for working on this!!

From: yvonnemery [mailto:notifications@github.com]
Sent: Friday, January 30, 2015 3:11 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#9

[2015-01-30 22:23] lsult commented on #91
In case the link didn’t work.

From: Sult, Leslie A - (lsult)
Sent: Friday, January 30, 2015 3:22 PM
To: 'ualibraries/Guide-on-the-Side'; ualibraries/Guide-on-the-Side
Subject: RE: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

I like that it is closer, but like Yvonne, like it better under the words since they have to advance the arrow after reading?

Thanks for

[2015-01-30 22:32] yvonnemery commented on #91
I think we could test it with one tutorial and see what happens.

From: lsult [mailto:notifications@github.com]
Sent: Friday, January 30, 2015 3:22 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

I like that it is closer, but like Yvonne, like it better under the words since they have to

[2015-02-02 17:16] simpsonw commented on #73
I've added a configuration option for the feedback link text in config.sample.yml.  If the "Custom Feedback link text" field was left empty, the feedback link text in config.sample.yml will be displayed.  This seemed to make sense to me as a compromise between adding a database default or hard-coding a value in the template.

I believe this task is ready for feedback/review at this point.  I shoul

[2015-02-02 18:32] simpsonw commented on #65
Just tried this without pop-up mode in Chrome 40.0.2214.94 and it seemed to work fine for me.

[2015-02-02 23:19] simpsonw commented on #107
I've upgraded google_analytics.ctp in the default theme with the new JavaScript for Universal Analytics.  I've committed what I have to the gh_107_universal_analytics  branch and deployed it to webdev to test.  I was able to see my page hits in the "Real-Time" data overview, so I think everything should be working properly.

It's worth noting that the Universal Analytics code doesn't seem to want

[2015-02-02 23:37] simpsonw commented on #47
Is this still an issue?  I was looking into it, so I searched for "Searching Academic Search Complete" in Google.  The first result took me to http://www.library.arizona.edu/applications/quickHelp/tutorial/searching-academic-search-complete.  Is that not the correct behavior?

[2015-02-02 23:51] michaelhagedon commented on #47
That's correct. Maybe we fixed it already? Or the search engines are getting smarter?

Sent from a mobile device

-------- Original message --------
From: Will Simpson <notifications@github.com>
Date:02/02/2015 4:37 PM (GMT-07:00)
To: ualibraries/Guide-on-the-Side <Guide-on-the-Side@noreply.github.com>
Cc: "Hagedon, Mike - (mhagedon)" <mhagedon@email.arizona.edu>
Subject: Re: [Guide-on-the-Side] M

[2015-02-03 03:59] michaelhagedon opened #108 "Allow local login to be forced over HTTPS"
Because sending passwords in clear text in a bad idea.

[2015-02-03 04:12] michaelhagedon commented on #99
I'm going to assume yes, and we can reopen if @jaronkk reports otherwise.

[2015-02-03 04:12] #99 closed

[2015-02-03 04:53] michaelhagedon commented on #65
Yeah, I think their interface changed, so this issue is probably invalid.

From: Will Simpson [mailto:notifications@github.com]
Sent: Monday, February 02, 2015 11:33 AM
To: ualibraries/Guide-on-the-Side
Cc: Hagedon, Mike - (mhagedon)
Subject: Re: [Guide-on-the-Side] LexisNexis Academic Loses Functionality inside of Guide on the Side (#65)

Just tried this without pop-up mode in Chrome 40.0.2214.94

[2015-02-03 15:31] simpsonw commented on #65
Okay, I am going to close this for now, if people experience problems in the future we can create a new issue.

[2015-02-03 15:31] #65 closed

[2015-02-03 19:55] michaelhagedon opened #109 "Unpublished tutorials are still indexed"

[2015-02-03 19:57] michaelhagedon commented on #109
I noticed this when unpublishing an already-published tutorial.

[2015-02-03 20:07] michaelhagedon commented on #75
Sorry for the delay... I checked out this branch and when I upload an image the thumbnail doesn't show up. This is in the logs:
[code]

When I click on the broken thumbnail, I do see the full image. Which brings me to something we maybe didn't consider: how does this feature interact with popup mode? The image might actually get smaller in the lightbox...

[2015-02-03 20:15] michaelhagedon commented on #93
This looks good to me. If anyone (@liquid06?) wants to give feedback on the admin side microcopy, that's welcome too.

![image](https://cloud.githubusercontent.com/assets/645924/6028406/8c0e33fe-aba6-11e4-8ccc-de8773c8f4cf.png)

[2015-02-03 20:20] simpsonw commented on #75
@michaelhagedon I haven't run into that issue with uploading images.  Out of curiosity, what are the permissions on your app/webroot/uploads folder?  And which version of CakePHP are you running?

Regarding popup mode, right now it's trying to make an educated guess as to how tall the viewport is and trying to take up as much of it as possible, e.g.

![gots_popup_eiffel_tower](https://cloud.github

[2015-02-03 20:25] michaelhagedon commented on #75
777

2.4.2... maybe should upgrade.

Ah, the portrait ones look good. I was using a landscape image.

[2015-02-03 20:27] simpsonw commented on #75
Hmm, I'm running 2.4.10, so I don't know if that's related.  I will try downloading 2.4.2 and see if that allows me to reproduce the problem.

[2015-02-03 20:39] simpsonw commented on #75
I tried replacing my lib folder with Cake 2.4.2 and I didn't experience the issue.  Maybe try changing debug in core.php to 2 to help clear out any caching?  Or possibly delete the contents of the tmp folder?

[2015-02-03 23:11] simpsonw commented on #25
I took a shot at this.  My changes are in the gh_25_db_fields branch.  I added a default value of 0 for the following columns:

tutorial
-------------
published
deleted
for_credit

users
------------
deleted

Not sure if there are other things that need to be cleaned up, but this seemed like a good start.

[2015-02-03 23:40] simpsonw commented on #109
I believe I have fixed this.  My changes are in the 569_lucene_bug branch.

[2015-02-04 15:28] simpsonw commented on #47
Given that it seems to be working, I'm going to close this.  If we run into problems in the future, we can create a new issue.

[2015-02-04 15:28] #47 closed

[2015-02-04 17:57] simpsonw commented on #75
I've added a different behavior for popup mode.  Instead of using a modal dialog, images are opened in a new window.  See the example below:
![popup_mode](https://cloud.githubusercontent.com/assets/10437788/6046109/7e0a75c2-ac5c-11e4-8cdc-c5575c2b629a.png)

[2015-02-04 21:04] simpsonw commented on #75
I was doing some testing and noticed an issue with IE8.  Apparently, IE8 won't allow you to have spaces in the title parameter of a window.open() call.  Previously, I had been creating an HTML document containing the image in JavaScript so that the window could use the supplied title for the image.  However, if you have a space (e.g. "Eiffel Tower"), the window won't open in IE 8, so I simplified

[2015-02-04 21:10] simpsonw commented on #75
I would say this is ready for review again, but I'm not sure what to do regarding the build issues that @michaelhagedon is having.

[2015-02-06 17:49] simpsonw commented on #86
I'm still stumped by this one.  Upon closer inspection, it appears that the screenshot is not from 1.0-beta3 since there's a delete button for the quiz, which didn't show up until after that release.  I tried looking at the commit history for the associated templates and JavaScript files, but I didn't see anything that looked like it would be related to this.  I also tried checking out a few indiv

[2015-02-06 17:55] simpsonw opened #110 "Empty alert box appears when you attempt to save an empty question"
# Steps to reproduce
1. Create or edit a quiz
2. Create or edit a question on the quiz
3. Leave the "Question" field blank.
4. Click the "Update" button.

# Expected behavior
I'm not 100% sure what the exact behavior should be, but IMO, you should get some kind of warning that the "Question" field is empty.

# Actual behavior
An empty JavaScript alert pops up, which seems to be very confusing.

[2015-02-06 20:51] simpsonw commented on #110
This seems to be an issue with app/webroot/js/questions/add.js, in particular the function add_edit_form_submit.  I will look into this later.

[2015-02-06 21:08] simpsonw commented on #92
You can see the new styles for the definition links and the regular links at http://webdev.library.arizona.edu/applications/quickHelp/tutorial/1-visited-link-colors-and-definition-boxes-test

[2015-02-06 21:09] simpsonw commented on #90
I deployed the changes from #92 to http://webdev.library.arizona.edu/applications/quickHelp/tutorial/1-visited-link-colors-and-definition-boxes-test.  You can see both the visited color link and the definition color link.

[2015-02-06 22:02] simpsonw commented on #110
I believe I have fixed this issue.  It was actually the QuestionsController that was parsing the validation errors incorrectly.  This is ready to be reviewed.  I have made my changes in the gh_110_empty_alert_box branch.

[2015-02-06 22:08] simpsonw opened #111 "Standardize indentation"
I've noticed that the indentation is inconsistent throughout much of GotS, sometimes even within the same file.  It would improve readability and maintainability if we could standardize the indentation style.  I would suggest that we adopt hard tabs (e.g. "\t") since this is a CakePHP project and that's what CakePHP core uses, but I'm pretty much up for anything as long as we're consistent about i

[2015-02-06 23:14] michaelhagedon commented on #25
I think the defaults were the main nonsense I was referring to. :-)

[2015-02-06 23:16] michaelhagedon commented on #25
What I'm seeing looks good. I think it'd be good to go through all the tables and look for 'null' => false, 'default' => null nonsense and do the same. There are more. This has caused some people problems in the past.

[2015-02-06 23:18] michaelhagedon commented on #109
Looks good to me! Thanks.

[2015-02-06 23:20] michaelhagedon commented on #107
I don't know much about this stuff, either, but as long as it works for GA and UA (maybe @liquid06 would be a better reviewer) that's the main thing.

[2015-02-06 23:36] michaelhagedon commented on #75
I upgraded to Cake 2.4.10 and that didn't help. So I re-cloned and re-installed GotS from this branch and now it works as expected (still with Cake 2.4.10). So let's say there was just something wrong with my installation.

It looks good! One question -- is it possible / wise in popup mode to make the image popups adjust more to the size of the image?

[2015-02-06 23:38] michaelhagedon commented on #110
Makes sense to me!

[2015-02-07 00:05] simpsonw commented on #109
No problem, @michaelhagedon!  Does this mean I should merge 569_lucene_bug into master?

[2015-02-07 00:06] simpsonw commented on #107
Ah, okay, I think there might be an issue, then, because I believe what I've done will only work for UA.  I will add legacy GA support as well.

[2015-02-07 00:10] simpsonw commented on #25
I think these were the main offenders, @michaelhagedon.  I will definitely have another look at the schema.  It appears that the primary and foreign key columns generally have that configuration ("null"=>false, "default"=>null), which makes sense to me since you can't really provide a sensible default for a column like that, so any attempt to write a record that doesn't specify that column should

[2015-02-07 00:11] simpsonw commented on #75
@michaelhagedon I think it may be possible to make the popup mode windows adjust more to the size of the image.  Maybe a strategy along the lines of "preserve the aspect ratio with a maximum dimension of x pixels" would make sense.

[2015-02-07 00:14] #110 closed

[2015-02-07 00:25] michaelhagedon commented on #25
I think there's some mode MySQL can be in that chokes on configs like that, even if they have no practical effect. Or at least that's my vague recollection of the issue. Gots-discuss archives may remember something more...

[2015-02-10 01:59] michaelhagedon opened #113 "The feedback form has no spam protection"

[2015-02-10 23:19] simpsonw commented on #107
I have added back the legacy GA support as well as a configuration option to toggle if you're using UA or GA.  I have tested it with UA and everything seems to be working properly.  I'm unsure how to test it with GA since you can no longer sign up an account for "classic" Google Analytics, but I may bug the UAL team to see if I can borrow some credentials.

[2015-02-11 00:33] simpsonw commented on #107
I've been added to the UAL's Google Analytics account, but I'm still having some issues testing my changes.  The problem is the UAL theme for GotS uses a custom template for the Google Analytics stuff.  When I switch http://webdev.library.arizona.edu/applications/quickHelp/ to use the built in Guide on the Side theme, I don't see my movements in the Overview section of the Real Time tab.  I'm not

[2015-02-11 05:08] michaelhagedon commented on #107
I'm not entirely sure GA works in core GotS because our theme overrides how that works. It might be worth searching gots-discuss; others have had trouble getting it running.

[2015-02-11 17:16] simpsonw commented on #107
@liquid06 provided me with access to a legacy/classic Google Analytics account and everything seemed to work fine for me.  I noticed a typo regarding a configuration option for Universal Analytics that I fixed in the commit mentioned above (53bff4b5366eb9257a4acc7ca802f305007d150e).

I believe this task is now ready for review.

[2015-02-11 18:58] simpsonw commented on #75
@michaelhagedon I've changed the code a bit so that it tries to match the size of the popup window to the aspect ratio of the image it's displaying.  I have tested in the following browsers:

* Firefox 35 on Linux
* Firefox 32 on Windows 8
* Chrome 40.0.2214.111 (64-bit) on Linux
* IE 11 on Windows 8
* IE 10 on Windows 7
* IE9 on Windows 7
* IE8 on Widows XP

Let me know what you think!

[2015-02-11 23:37] simpsonw commented on #25
I took a look at [a post in the Google group](https://groups.google.com/forum/#!searchin/gots-discuss/null/gots-discuss/70cpOJhsok8/KNMS5j5MfBYJ) and saw that people were having issues using GotS with MariaDB with strict tables enabled.  I was curious to see if I could reproduce the issue with MySQL, so I changed my my.cnf file to run in strict mode:

[code]

When I tried to run the migrations to

[2015-02-11 23:54] simpsonw commented on #25
For what it's worth, running
[code]
to create the database instead of running
[code]
seems to work without issue with strict mode enabled.  Perhaps updating the installation instructions would be the easiest route.

[2015-02-11 23:58] michaelhagedon commented on #25
Normally, I would agree that editing migrations is bad. In this case, however, it might be OK. Here’s my reasoning:

·         If someone’s installing from scratch, whether or not the first migration was changed is irrelevant.

·         If someone is upgrading and they already have the sensible field defaults, specifying them again shouldn’t hurt (I think?).

·         If someone is upgrading and

[2015-02-12 00:00] michaelhagedon commented on #25
Not sure about abandoning the migrations plugin, but I’m not clear on the original reasons I chose the migrations plugin over schema. One advantage is that migrations gives a rollback path. Otherwise I don’t know the tradeoffs.

[2015-02-12 00:15] simpsonw commented on #25
@michaelhagedon I think you may have a point regarding making an exception in this case.  We shouldn't make a practice of editing the migrations, but it might be the best option in this instance.  I was forgetting that if you run:
[code]
Migrations doesn't have any way of figuring out what state your database is at, so if you try to run:
[code]
it will start with the first migration.

So yeah, I t

[2015-02-12 06:20] michaelhagedon commented on #86
I believe I've seen this before, so I don't think it's their theme.

[2015-02-12 06:33] michaelhagedon commented on #109
Seems OK to me.

[2015-02-12 17:33] simpsonw commented on #109
The branch has been merged, so I'm closing this issue.

[2015-02-12 17:33] #109 closed

[2015-02-12 18:10] simpsonw opened #115 "Feedback email fails for tutorials with no contact email"
# Steps to reproduce
1. Create a tutorial and leave the "Contact Email" field blank.
2. Visit the tutorial and go to the last page.
3. Click the feedback link ("What did you think of this tutorial?")
4. Fill out the form that pops up and click "Send feedback"

# Expected behavior
You will receive a message indicating the success or failure of the delivery of the feedback email.

# Actual behavior

[2015-02-12 18:59] #113 closed

[2015-02-12 21:32] simpsonw commented on #25
I did a little more investigating on this and figured out that MySQL wasn't choking on the table definition itself, but rather it was choking on the insertion of the default admin user.  We can side step this problem simply by specifying a value for the 'deleted' column when that particular user.

This is, IMO, a lot better and simpler than trying to alter the initial table creation, especially gi

[2015-02-12 22:12] simpsonw commented on #25
I took another look at the schema with the idea that a column should only be nullable with a default value of NULL if and only if it's a required field for the model, which includes keys (both primary keys and foreign keys specified through relationships) and fields who have validation rules that prevent them from being empty.  With that in mind, I identified the following columns that should eith

[2015-02-13 00:34] liquid06 commented on #75
I ended up rebuilding my local copy because I encountered this when editing a tutorial after checking out this branch:

![gots-popupmode](https://cloud.githubusercontent.com/assets/460005/6179724/34f30cfe-b2d9-11e4-88b6-a663a0a39211.png)

Weird.

Anyway, I tried uploading a few different kinds of images. Sometimes in a tutorial, the creator will add an image of a small part of the interface, like

[2015-02-13 17:17] liquid06 opened #116 "Rewrite CSS to follow best practices"
The CSS in Guide on the Side is in violation of some of [our best practices](https://docs.google.com/document/d/1vxXkYCR6G5X4dc0JiOC6wl67utj3te1J42GshX_1jVo/edit?usp=sharing).
Things that need to be corrected:
* Remove unnecessary duplication
* Use consistent ordering for properties
* One selector per line
* Favor classes over IDs
* Use Sass for preprocessing

[2015-02-13 17:20] liquid06 commented on #75
I looked through the commits related to this issue for review against our best practices. #111 looks like it covers indentation, so I looked at style details from a "when in Rome" perspective of what's in other parts of the file. Mostly you're missing spaces before brackets and parens when the rest of the file includes them, and that's all I found for possible review corrections.

* In d5b5b516f53

[2015-02-13 18:21] liquid06 commented on #107
Testing with a Universal Analytics test account:
* For Single Page view, I'm seeing one hit in GA's realtime UI each time I reload the page - as expected
* In step-by-step mode (and in popup step-by-step mode), I'm seeing two hits in realtime each time I reload

Here's what my network tab looks like in dev tools:
![step-by-step-ga](https://cloud.githubusercontent.com/assets/460005/6192349/2455c25c

[2015-02-13 18:28] liquid06 commented on #107
Also, I reviewed the commits related to this issue and didn't see any best-practice-review problems. :+1:

[2015-02-13 18:48] liquid06 commented on #107
I tested with our theme - we override and hard-code the snippet that gets embedded to be the same as the one on our main website and to alter the path of the content, so it's only possible to see hits in the main site analytics account. This is working fine from my local copy - the changes in this branch don't break anything for the UAL theme.

[2015-02-13 19:42] liquid06 commented on #73
I can't really speak to advantages/disadvantages of the different options for setting he default value...But I tested the branch with the config.yml option and overriding/disabling at the tutorial level worked fine. I have UI/template notes/questions:
* The user clicks a custom link - should that same text be used for the title of the popup form, or would it be annoying if it was long? (As opposed

[2015-02-13 20:03] liquid06 commented on #92
Visited links before:
![visited-before](https://cloud.githubusercontent.com/assets/460005/6194296/593e6fd4-b380-11e4-92e5-b457a6ccc5a1.png)
Visited links after:
![visited-after](https://cloud.githubusercontent.com/assets/460005/6194321/87887100-b380-11e4-9a73-cd8cabc1c72c.png)

[2015-02-13 20:09] liquid06 commented on #90
This example is from a tutorial that includes these brackets as part of the link text.

**Definition box before - closed**
![dialog-closed-before](https://cloud.githubusercontent.com/assets/460005/6194345/bf1d3858-b380-11e4-8f22-9d39c1417d41.png)
**Definition box before - open**
![definition-open-before](https://cloud.githubusercontent.com/assets/460005/6194349/c41a6ec0-b380-11e4-880c-f73c3ee607d1

[2015-02-13 20:47] liquid06 commented on #91
Do we need to deploy branch 91-navigation-position on webdev so that @yvonnemery can do user testing for this?

[2015-02-15 02:51] #89 closed

[2015-02-16 19:09] simpsonw commented on #75
@liquid06 Thanks for the awesome feedback!

You are correct.  Right now the images are being resized regardless of whether or not they are smaller than the supplied resize dimensions.  I definitely agree that we should fix that and I believe that's what they are referring to in #74, so I think we should take care of it there.

Wow, I'm really glad you caught that!  I have committed some new code (

[2015-02-16 20:16] michaelhagedon commented on #25
@simpsonw Another task is fine with me. Does CakePHP doesn't (or didn't) care about foreign keys at the time...

[2015-02-16 21:39] simpsonw commented on #75
I've added some new styling for the popup/modal images.  I've gotten right of the underline/bottom border and added a blue border/shadow that shows up when you hover over an image that links to a modal dialog or popup:

![gh_75_hover_border](https://cloud.githubusercontent.com/assets/10437788/6219636/94b8425e-b5e9-11e4-9b6d-957106cbbeb0.png)

How does that look to you guys?

[2015-02-16 22:02] simpsonw opened #117 "Right margin for tutorial images is off"
The right margin (or possibly the padding) for images in tutorials seems to be off:

![right_margin](https://cloud.githubusercontent.com/assets/10437788/6219862/3fc1cf9c-b5ec-11e4-867d-44a2987075fa.png)

The margin/padding should be even between the left and right sides.

[2015-02-16 22:03] simpsonw commented on #75
@liquid06 Regarding the right margin issue, I appear to be having the same problem, it's just that the Eiffel tower picture that's in most of my screenshots happens to be skinny enough to make it not so apparent:

![gh_75_right_margin](https://cloud.githubusercontent.com/assets/10437788/6219840/f228f120-b5eb-11e4-9f2f-20464daf227d.png)

This appears to be a rather old issue; I checked out 1.0-beta

[2015-02-16 22:21] simpsonw commented on #75
@liquid06 I have looked into cleaning up the non-CSS code format issues in commit a9cdcbf

[2015-02-17 00:12] simpsonw commented on #73
I like this idea and implemented it in ed48a5a.

I'm not really sure what the initial rationale was for that myself.  Perhaps it might make sense to create a task to look into the possibility of combining the two templates (I've done similar things on other CakePHP projects).

I think there is.  Helps keep things DRY.  I refactored the code to use an element in commit 8c1e530cdd152d2afc089cbb05b42

[2015-02-17 17:02] simpsonw commented on #73
I have added the site-wide feedback option in commit 5218860.  I believe this task is ready for another round of feedback and review whenever @liquid06 or @michaelhagedon have time.

[2015-02-17 17:25] simpsonw opened #118 "Add foreign key constraints to enforce relationships"
Foreign key constraints should be added to all database columns used to indicate relationships, including linking tables (e.g. resource_types_tutorials).

[2015-02-17 18:59] liquid06 commented on #73
Cool! I was wondering if @lsult or @yvonnemery had any suggestions for the UI text on the creator side.

![feedback-link-text](https://cloud.githubusercontent.com/assets/460005/6234528/c430c6aa-b698-11e4-87cc-2c54d7be8fb3.png)

It sounds a little awkward or redundant to me when I read it, but I can't quite figure out why. Maybe since it's already in a fieldset labeled Feedback link, the "Custom fe

[2015-02-17 19:27] simpsonw commented on #25
Here's a summary of what I've changed:

revisions
------------
content - Now nullable in the database
operation - Now required by the model validation

roles
-------
name - Now required by the model.

tutorials
---------
content - Now nullable (due to external tutorials)
dot_creation_timestamp - Now nullable (only external tutorials seem to use this)
dot_last_revision_timestamp - Now nullable (onl

[2015-02-17 19:53] simpsonw commented on #73
@liquid06 I have changed the spacing around the if statements, removed the extra space after the period on line 18 of tutorial_feedback_link.ctp, and changed the label to read "Custom link text" (I am open to any other suggestions, though).  Is there anything else that needs attention?

[2015-02-17 19:58] simpsonw commented on #93
If there's no objection from the team (@liquid06, @michaelhagedon, @yvonnemery, or anyone else), I will go ahead and merge this tomorrow.

[2015-02-17 21:10] simpsonw commented on #107
@liquid06 I think you're right; the Google Analytics script is being included more than once.  This seems to be a side-effect of the fact that it's being included in public.ctp, which is probably being used as a base layout for several of the templates being used.  Not sure what the best solution is just yet, will have to think it over.

[2015-02-17 21:53] lsult commented on #73
Hey – I like it saying “"Custom text" – thanks for the suggestion Ginger!
Leslie

From: Will Simpson [mailto:notifications@github.com]
Sent: Tuesday, February 17, 2015 12:53 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] Suppress the feedback link (#73)

@liquid06<https://github.com/liquid06> I have changed the spacing around the if statements, r

[2015-02-17 22:37] simpsonw commented on #107
I believe I have fixed the issue causing Google Analytics to be loaded twice (commit 099cabcd792a1a0daa0417778846335e4fe934f3).  The problem seems to be that it was being loaded in the feedback element, so it was appearing twice for the step by step tutorials.  Single page tutorials were preventing this by setting noGoogleAnalytics, so basically I made it so that both step by step and single page

[2015-02-17 22:41] simpsonw commented on #73
The label has been updated to read "Custom text".

[2015-02-17 22:47] simpsonw opened #119 "Purpose of app/config.sample.yml"
I can't seem to figure out what the purpose of app/config.sample.yml is.  Could @michaelhagedon or anyone else enlighten me?

[2015-02-17 22:48] lsult commented on #73
Thanks!

From: Will Simpson [mailto:notifications@github.com]
Sent: Tuesday, February 17, 2015 3:42 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] Suppress the feedback link (#73)

The label has been updated to read "Custom text".

—
Reply to this email directly or view it on GitHub<https://github.com/ualibraries/Guide-on-the-Side/issues/73#issue

[2015-02-17 23:01] simpsonw commented on #90
Any thoughts on the new look for the definition boxes, @lsult and @yvonnemery?

[2015-02-17 23:01] simpsonw commented on #92
Any thoughts on the new look for the links, @lsult and @yvonnemery?

[2015-02-17 23:07] lsult commented on #92
Hey I just took a look – one thing that got wonky for me was when I clicked the regular link and then went back, the underline disappeared? I think it would be better for it to stay? Also, is it good or not good practice now to have the color change once you’ve clicked? I actually have no idea, so I’m happy to defer to you guys on that one. I like the definition box link – we found that student di

[2015-02-17 23:29] simpsonw commented on #92
I apologize, @lsult!  I think I may have blown away the changes on the test server before you saw them, which may have caused some strange behavior.  They should be back there now.

Regarding your question about the underline disappearing, this is kind of a quirk with how things are styled right now.  The underline disappears when the link is considered active, so if you were to click elsewhere in

[2015-02-17 23:44] lsult commented on #92
Awesome – ok, I like the solid line and the darker color – I think the solid line makes it clear to click it for the definition box. I’m also with you on having the underline stay.

Thanks!

From: Will Simpson [mailto:notifications@github.com]
Sent: Tuesday, February 17, 2015 4:30 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] Visited link color

[2015-02-18 16:35] simpsonw commented on #92
@lsult The underline should be staying now (you may have to to reload the page a couple of times to get the new styles).  Regarding changing the color for visited links, we could do that (it's considered standard behavior in fact), but I believe there was concern about students not understanding that visited links were still clickable.  Maybe picking a fairly standard color (like purple) for the v

[2015-02-18 17:56] simpsonw commented on #86
I've been able to shed a little light on this; if an error occurs inside of the add_edit_form_submit function in app/webroot/js/questions/add.js, you will get the behavior specified in this issue:

![question_add_error](https://cloud.githubusercontent.com/assets/10437788/6253135/7d99397e-b75c-11e4-9ec4-920e963087ef.png)

I was able to get this to happen by deliberately adding garbage characters in

[2015-02-18 18:14] yvonnemery commented on #92
Coming in a little late, but just the same feedback that Leslie had about the underline disappearing on the definition box. Another thing, will these be blue?

From: Will Simpson [mailto:notifications@github.com]
Sent: Tuesday, February 17, 2015 4:01 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] Visited link color is confusing (#92)

Any thought

[2015-02-18 19:27] simpsonw commented on #92
@yvonnemery, the underline disappearing should be fixed.  Let me know if it still seems off.

Regarding the colors, the definition box links are currently this shade of blue/gray:

![definition_link_color](https://cloud.githubusercontent.com/assets/10437788/6254919/552ce712-b769-11e4-89f5-aace0ec9bc64.png)

The regular links are this color:

![regular_link_color](https://cloud.githubusercontent.co

[2015-02-18 19:37] simpsonw opened #120 "Add question dialog unresposive after logout"
# Steps to reproduce

* Log in and click the "Insert Question" button for a quiz
![add_question_bug_1](https://cloud.githubusercontent.com/assets/10437788/6255036/4dde5ecc-b76a-11e4-85ce-c259c1fca2c7.png)

* Either wait for your session to expire or log out
* Click the "Insert" button
![add_question_bug_2](https://cloud.githubusercontent.com/assets/10437788/6255071/8e49dcde-b76a-11e4-95ee-7cac81cd

[2015-02-18 21:44] simpsonw commented on #86
I have been unable to reproduce this problem without deliberately messing up the JavaScript.  I don't have much information to go on with this issue, so I think I will have to close this task for the time being.

If anyone encounters this problem in the future, please note the circumstances under which it happened and check your JavaScript console for errors.

[2015-02-18 21:44] #86 closed

[2015-02-18 22:12] #93 closed

[2015-02-18 22:47] liquid06 commented on #73
@simpsonw: I say that this is thoroughly reviewed and ready to be merged. :ok:

[2015-02-18 23:51] liquid06 commented on #75
@simpsonw: I think everything has been addressed and split out into separate tickets that make more sense. Thank you! I had some trouble with my local build, but was finally able to test the style change for the images by interacting with them - I think that's a big improvement! IMO it's ready to go. As we're testing the upgrade process, we should remember to write up how this affects content crea

[2015-02-19 00:16] liquid06 commented on #107
@simpsonw Yay that fixed it. :+1: I tested again and I'm only seeing one pageview per actual visit in step-by-step mode. I think this branch is ready to go.

The threads I saw on gots-discuss where some people were having trouble getting analytics set up could have been due to creating a new GA account (which would have been Universal Analytics) but our snippet was including the legacy Google Anal

[2015-02-19 18:27] #73 closed

[2015-02-19 18:47] #75 closed

[2015-02-19 19:05] simpsonw opened #121 "Refactor Analytics Variables"
As @liquid06 noted in #107, we are now supporting three different analytics platforms (Classic Google Analytics, Universal Analytics, and Piwik).  Some of the variables/language explicitly reference Google Analytics (e.g. the noGoogleAnalytics variable in the TutorialsController).  This code should be refactored to be more generic (e.g. noAnalytics as opposed to noGoogleAnalytics).

[2015-02-19 19:10] simpsonw commented on #107
I have merged the branch and created #121 to handle the refactoring of the variables as @liquid06 described.  I definitely agree that in our release notes and in the Google Group we should mention the double page count problem so users know what's going on.

[2015-02-19 19:10] #107 closed

[2015-02-19 21:56] simpsonw commented on #119
@michaelhagedon and I discussed this yesterday.  The purpose of the file is to allow people using different applications with the same CakePHP installation to override the default settings, but we agreed that it should be deleted for simplicity sake.  The documentation should be updated to mention that you can put a config.yml file in the app/folder to override the settings, but there's no reason

[2015-02-19 21:57] #119 closed

[2015-02-19 22:08] lsult commented on #91
cool - thanks! Can you send me a link that Yvonne and I can use to test? I just checked a regular GotS and the arrows are still at the bottom
I'm looking forward to hearing what students think!
________________________________
From: Will Simpson [notifications@github.com]
Sent: Thursday, February 19, 2015 2:07 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on

[2015-02-19 22:13] simpsonw commented on #91
@lsult @yvonnemery The changes should be up at http://webdev.library.arizona.edu/applications/quickHelp/.  Any of the non-external tutorials (e.g. http://webdev.library.arizona.edu/applications/quickHelp/tutorial/euromonitordbforbnad) will have the arrows with the new styles.

[2015-02-23 21:49] yvonnemery commented on #91
Will
We were going to start testing the arrows on top but realized that the text on the first screen reads "Use the arrows below..." Can you delete this sentence? We do not want to add any directions as to where the arrows are.
Yvonne
________________________________
From: Will Simpson [notifications@github.com]
Sent: Thursday, February 19, 2015 3:13 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery,

[2015-02-23 23:46] simpsonw commented on #91
@yvonnemery The text has been removed from (http://webdev.library.arizona.edu/applications/quickHelp/tutorial/euromonitordbforbnad).  I should mention that that text was actually in the tutorial itself, so that might pose a problem if we change the position of the arrows since other people may have had similar instructions in their tutorials.

[2015-02-25 00:25] michaelhagedon commented on #90
Question: is this good enough the way it is (it's definitely better than it used to be), or should we be looking at @liquid06's other suggestion: "Adding +/- or X icons"?

[2015-02-25 17:09] lsult commented on #90
Hey – I think it is ready to deploy – thanks everyone!

From: Michael Hagedon [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 5:26 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] Improve affordance for definition boxes (#90)

Question: is this good enough the way it is (it's definitely better than it used to be), or should we be

[2015-02-25 17:47] simpsonw commented on #92
@lsult has mentioned that #90 is ready for deployment.  What does everyone ( @michaelhagedon, @liquid06, @yvonnemery ) think of the colors for this task?

[2015-02-26 17:19] simpsonw commented on #92
Since issue #90 is considered ready for deployment, I am going to merge and deploy this task as well if I don't hear any objections from @yvonnemery or @lsult by the end of the day.  Thanks everyone for your input!

[2015-02-26 17:22] simpsonw commented on #91
@yvonnemery @lsult : Did you get a change to do usability testing for this?

[2015-02-26 17:55] yvonnemery commented on #91
No. Not yet. Will hopefully next week.

From: Will Simpson [mailto:notifications@github.com]
Sent: Thursday, February 26, 2015 10:23 AM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

@yvonnemery<https://github.com/yvonnemery> @lsult<https://github.com/lsult> : Did you get a change to do us

[2015-02-26 23:30] michaelhagedon commented on #25
@simpsonw, the System table I think was some idea I had to store, e.g., the GotS version and other relevant metadata. It obviously never went anywhere.

I've reviewed this and it makes sense to me. It seems to follow best practices, even where the code around the changes doesn't necessarily. :-)

[2015-02-27 15:30] simpsonw commented on #92
Looks like the changes for this issue have already been merged into master.  Closing this issue.

[2015-02-27 15:30] #92 closed

[2015-02-27 15:34] simpsonw commented on #90
These changes are in master.  Closing issue.

[2015-02-27 15:34] #90 closed

[2015-02-27 16:35] #25 closed

[2015-02-27 17:44] yvonnemery commented on #91
We did a little bit of usability yesterday, and for the most part students did not see the arrows and were quite confused. However, I can't say for sure it was the arrows as they mostly focused on the database and read the terms and conditions and then just stayed there without taking a look at the GOTS. When we asked them what they thought of the arrows, they said they did not see them, did not t

[2015-02-27 19:21] simpsonw commented on #91
@yvonnemery I think it would be feasible to move the arrows underneath the text, but the concern there is that the arrows won't be in a consistent position (i.e. they'll be farther down the page if the text is longer or higher up if the text is shorter).

Having the "Go on" text after a user completes a particular task would probably be difficult to do and prone to breaking, although I kind of lik

[2015-02-27 19:23] yvonnemery commented on #91
I don't think it would be a problem to have the arrows appear in different places. As long as they are at the end of the text each time, I think it would be fine. I like that idea.
________________________________
From: Will Simpson [notifications@github.com]
Sent: Friday, February 27, 2015 12:21 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The

[2015-02-27 19:26] michaelhagedon commented on #91
@yvonnemery, what about when the text scrolls? Is it OK for the arrows to not be visible at first?

[2015-02-27 19:30] lsult commented on #91
The problem we seem to be seeing is that people just don't notice the arrows at all - in One iteration earlier on we had back and next as part of the arrows - we never did usability so I don't know if that helped anymore but right now I think having the arrows closer to the text even if they aren't in a consistent position would be a better Q2 users to MoveOn than having the arrows way at the bott

[2015-02-27 19:31] lsult commented on #91
I like The fade in on the first screen idea also! I assume once they arrow wants they will know where to look that could solve the problem!!

Sent from my iPhone
Leslie

On Feb 27, 2015, at 12:23 PM, yvonnemery <notifications@github.com<mailto:notifications@github.com>> wrote:

I don't think it would be a problem to have the arrows appear in different places. As long as they are at the end of the

[2015-02-27 19:43] lsult commented on #91
Ok one more question- is there any reason that the fade in might not play - like from a pop up blocker or would it always reliably work? I'm pretty excited about this!

Sent from my iPhone
Leslie

On Feb 27, 2015, at 12:31 PM, Sult, Leslie A - (lsult) <lsult@email.arizona.edu<mailto:lsult@email.arizona.edu>> wrote:

I like The fade in on the first screen idea also! I assume once they arrow wants t

[2015-02-27 19:48] FStop commented on #91
Good idea on the introductory tooltip, @simpsonw. Do you think we'd need a cookie to avoid annoying users who have already seen it and get the idea?

[2015-02-27 21:05] simpsonw commented on #91
@lsult A popup blocker wouldn't affect the fade in box.  The only ways I could think of it breaking would be if either they had JavaScript completely disabled or if they had a fatal JavaScript error somewhere on the page, but in either of those circumstances a whole host of other things would be broken as well.

@FStop I think that's a really good idea, I will see if I can implement it.

I will ta

[2015-02-27 21:21] yvonnemery commented on #91
What I don't like about the navigation up top is that the user will be reading going down and then will have to come back up to move on. Seems cumbersome and it seems that intuitively navigation would be at the bottom.

[2015-02-27 21:41] yvonnemery commented on #91
I am not sure about the text scrolls. We are trying to avoid putting too much text on any one slide, so I am not sure that would happen.

[2015-02-27 22:41] simpsonw commented on #91
@yvonnemery I can see your point; people are used to seeing pagination links at the bottom of pages.  On the other hand, people are also quite used to seeing navigation items at the top of pages and windows (the forward and back buttons on a web browser being perhaps a fitting example).

I think @michaelhagedon raises an important point regarding the fact that you won't see the arrows at first if

[2015-02-27 23:15] lsult commented on #91
Hey! I think I'm confused? I guess I was assuming the fade in would go with the bottom arrows?

Sent from my iPhone
Leslie

On Feb 27, 2015, at 3:41 PM, Will Simpson <notifications@github.com<mailto:notifications@github.com>> wrote:

@yvonnemery<https://github.com/yvonnemery> I can see your point; people are used to seeing pagination links at the bottom of pages. On the other hand, people are also

[2015-02-27 23:39] simpsonw commented on #91
@lsult We can definitely do that.  Are you thinking about having the arrows in their original position (on the bottom, but outside of the content container so they stay in one spot) or directly against the content?

[2015-02-27 23:40] lsult commented on #91
Yay! I could go either way - if they stay as they are I am a big fan of the fade in plan. If we can't do that then I think up against the content is best?
Thanks!

Sent from my iPhone
Leslie

On Feb 27, 2015, at 4:39 PM, Will Simpson <notifications@github.com<mailto:notifications@github.com>> wrote:

@lsult<https://github.com/lsult> We can definitely do that. Are you thinking about having the arro

[2015-02-27 23:41] simpsonw commented on #91
@lsult I agree.  I think no matter where the arrows end up, the fade in message would probably be helpful.

[2015-03-02 17:04] yvonnemery commented on #91
I think we should have a meeting to talk about the different possibilities. Leslie will make a meeting.

[2015-03-02 17:12] simpsonw commented on #91
@yvonnemery That sounds like a good idea to me.  I will keep an eye on my inbox for a meeting request from @lsult.

[2015-03-02 23:51] michaelhagedon opened #122 "GotS does not pass WAVE accessibility checks"
Not sure what we'd do about this, but it's lacking a language at the meta tag level, so it gets an error.

[2015-03-05 20:18] simpsonw commented on #91
Per our meeting, we are going to go with the following design:

* The arrows will be directly under the tutorial content
* They will be a slightly darker color
* If easy, we will hide the back arrow on the first slide and the forward arrow on the last slide.
* Header text should be added for the certificate and feedback sections.

[2015-03-05 20:29] lsult commented on #91
Sweet! Thanks!

From: Will Simpson [mailto:notifications@github.com]
Sent: Thursday, March 05, 2015 1:19 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

Per our meeting, we are going to go with the following design:

  *   The arrows will be directly under the tutorial content
  *   They

[2015-03-05 21:30] simpsonw commented on #91
What does everyone think of the general idea here:

![gh_91_new_styles](https://cloud.githubusercontent.com/assets/10437788/6515019/1f978468-c344-11e4-8950-a43eb7a2261c.png)

[2015-03-05 22:09] lsult commented on #91
this looks great - yay!
________________________________
From: Will Simpson [notifications@github.com]
Sent: Thursday, March 05, 2015 2:30 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

What does everyone think of the general idea here:

[gh_91_new_styles]<https://cloud.githubuserconten

[2015-03-05 22:50] yvonnemery commented on #91
If we are not going to have status bar, then maybe make the arrows a little closer?

From: lsult [mailto:notifications@github.com]
Sent: Thursday, March 05, 2015 3:10 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

this looks great - yay!
________________________________
From: Will Simps

[2015-03-05 22:54] yvonnemery commented on #91
I think maybe the status bar will look better with the arrows. What do others think?

[2015-03-05 23:00] simpsonw commented on #91
@yvonnemery Are you meaning that the progress bar would move up to be directly underneath the content or that the arrows would move down to be near the progress bar?

[2015-03-05 23:02] lsult commented on #91
I like the progress bar at the bottom and the arrows near the text the way will set it up in the
 example?
Leslie
________________________________
From: Will Simpson [notifications@github.com]
Sent: Thursday, March 05, 2015 4:00 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

@yvonnemery

[2015-03-05 23:03] yvonnemery commented on #91
Sorry. That the whole thing would move up as it was. I mean the progress bar and the arrows are all together as they have always been and they both move up to under the text. Does that make sense? Just a suggestion. Could we see a version like that? And maybe one with the arrows closer together?

[2015-03-05 23:22] simpsonw commented on #91
@yvonnemery like this?

![screenshot from 2015-03-05 16 21 33](https://cloud.githubusercontent.com/assets/10437788/6516964/baef8f8c-c353-11e4-8798-588442875e07.png)

[2015-03-05 23:25] yvonnemery commented on #91
Yes. I think I like that better than without the status bar. What do others think?
________________________________________
From: Will Simpson [notifications@github.com]
Sent: Thursday, March 05, 2015 4:22 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

@yvonnemery<https://github.com/yvo

[2015-03-05 23:29] lsult commented on #91
i like it both ways, but the argument for having it closer is that the status bar won't get lost, but I thought that having the status bar up by the arrows would make it weird for advancing the page?
________________________________
From: yvonnemery [notifications@github.com]
Sent: Thursday, March 05, 2015 4:25 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-o

[2015-03-05 23:41] simpsonw commented on #91
It doesn't call any technical problems, but it does seem a bit odd to me that it scrolls off the page with the rest of the content.  What does everyone else think?

[2015-03-05 23:46] lsult commented on #91
ok, that is what I am remembering - that it would be weird to have the bar scroll, so the choices are either figure out how to make the arrows and bar not scroll or put the bar at the bottom - right?
________________________________
From: Will Simpson [notifications@github.com]
Sent: Thursday, March 05, 2015 4:41 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide

[2015-03-05 23:49] simpsonw commented on #91
That's correct, @lsult.  The thing is, as far as I can see from the way things are structured, having something close to the content and not scroll are mutually exclusive.

[2015-03-05 23:51] lsult commented on #91
so if it is near the content it needs to scroll? (sometimes I get confused)
________________________________
From: Will Simpson [notifications@github.com]
Sent: Thursday, March 05, 2015 4:49 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

That's correct, @lsult<https://github.com/lsult>.

[2015-03-05 23:53] simpsonw commented on #91
That's correct.  Everything inside of the white area scrolls when you click the arrow.

[2015-03-05 23:56] lsult commented on #91
ok, so then I think the status bar should be at the bottom - yvonne what do you think?
________________________________
From: Will Simpson [notifications@github.com]
Sent: Thursday, March 05, 2015 4:53 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

That's correct. Everything inside of t

[2015-03-06 00:05] yvonnemery commented on #91
I'm not sure. I think the arrows just floating there by themselves looks kind of weird but maybe that's because I'm just not used to it.
________________________________________
From: lsult [notifications@github.com]
Sent: Thursday, March 05, 2015 4:56 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial co

[2015-03-06 00:09] lsult commented on #91
Yvonne - do you think it would be better to have everything scroll or do you think it would be weird to watch everything move away each time you advanced?

From: yvonnemery [mailto:notifications@github.com]
Sent: Thursday, March 05, 2015 5:05 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91

[2015-03-06 00:15] simpsonw commented on #91
We could try putting the arrows close together to focus things a bit:

![snug_arrows](https://cloud.githubusercontent.com/assets/10437788/6517686/146a39b6-c35b-11e4-8989-c5fe70dfabb6.png)

[2015-03-06 01:53] yvonnemery commented on #91
Let's try that and see what it looks like.
________________________________________
From: Will Simpson [notifications@github.com]
Sent: Thursday, March 05, 2015 5:15 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

We could try putting the arrows close together to focus things a bit:

[sn

[2015-03-06 02:14] lsult commented on #91
I'm good with that too!

Sent from my iPhone
Leslie

On Mar 5, 2015, at 6:53 PM, yvonnemery <notifications@github.com<mailto:notifications@github.com>> wrote:

Let's try that and see what it looks like.
________________________________________
From: Will Simpson [notifications@github.com<mailto:notifications@github.com>]
Sent: Thursday, March 05, 2015 5:15 PM
To: ualibraries/Guide-on-the-Side
Cc:

[2015-03-06 15:47] yvonnemery commented on #91
I do like the arrows together. I still think my first choice is status bar and arrows together, but if that will look odd in the advancing, then let’s go with arrows close together.

From: lsult [mailto:notifications@github.com]
Sent: Thursday, March 05, 2015 7:14 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the

[2015-03-06 16:34] simpsonw commented on #91
I have deployed the changes to webdev (e.g. http://webdev.library.arizona.edu/applications/quickHelp/tutorial/searching-academic-search-complete).  Let me know what you think.  You may have to reload the page a few times or possible clear your browser cache to see all the changes.

[2015-03-06 16:41] yvonnemery commented on #91
Looks great. I am not sure if it is my monitor but the forward arrow is grainy and the back arrow is not.

From: Will Simpson [mailto:notifications@github.com]
Sent: Friday, March 06, 2015 9:35 AM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

I have deployed the changes to webdev (e.g. ht

[2015-03-06 16:56] simpsonw commented on #91
@yvonnemery I believe this is an issue with Firefox.  I will see if I can find a solution for it, but it may be outside of the scope of this task to fix.

[2015-03-06 16:58] yvonnemery commented on #91
Let me try it on another browser. You can come see it on my monitor.

From: Will Simpson [mailto:notifications@github.com]
Sent: Friday, March 06, 2015 9:56 AM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

@yvonnemery<https://github.com/yvonnemery> I believe this is an issue with Firefox.

[2015-03-06 17:03] yvonnemery commented on #91
Looks great. Let's do it and consider it done. I will be doing some more usability testing in the coming days and will provide feedback! Thank you!

[2015-03-06 17:12] lsult commented on #91
I love it also! Thanks Will I’m excited to see what the students say when we test it!

From: Will Simpson [mailto:notifications@github.com]
Sent: Friday, March 06, 2015 9:35 AM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

I have deployed the changes to webdev (e.g. http://webdev.library.

[2015-03-06 17:41] simpsonw commented on #91
At this point I believe this task is ready for code review.

[2015-03-06 17:45] lsult commented on #91
Sweet! So where are we as far as rolling out the new version?

Sent from my iPhone
Leslie

On Mar 6, 2015, at 10:41 AM, Will Simpson <notifications@github.com<mailto:notifications@github.com>> wrote:

At this point I believe this task is ready for code review.

—
Reply to this email directly or view it on GitHub<https://github.com/ualibraries/Guide-on-the-Side/issues/91#issuecomment-77601413>.

[2015-03-06 17:59] simpsonw commented on #91
After this task passes code review, we will have to update the release notes, package and tag the release, and then I think we should be good to go.

[2015-03-06 18:12] lsult commented on #91
How awesome! Do you need anything from me to help get it rolled out?

Sent from my iPhone
Leslie

On Mar 6, 2015, at 11:06 AM, Will Simpson <notifications@github.com<mailto:notifications@github.com>> wrote:

After this task passes code review, we will have to update the release notes, package and tag the release, and then I think we should be good to go.

—
Reply to this email directly or view it

[2015-03-06 18:18] simpsonw commented on #91
Not that I can think of, but I will let you know if something occurs to me.  Thanks!

[2015-03-17 16:07] LunkRat opened #123 "Google Sites does not allow iFrame by default."
Just posting this to help others arriving here looking for this answer.

If you are trying to use a Google Sites page in your GOTS tutorial, you will need to set (or ask the Site owner to set) the following setting on the Google Site:

https://support.google.com/sites/answer/6024145?hl=en

[2015-03-18 20:32] michaelhagedon commented on #22
Chinese also doesn't work.

[2015-03-19 18:34] liquid06 commented on #91
I've reviewed the commits associated with this issue and they all look fine. This passes UX-Dev best practices review. I also tested out the front-end of the changes on my local copy. I'll mention my usability concerns here, but they don't need to block resolution on this issue or the next release of gots.

There's no way to get back once you're all the way at the end of the tutorial besides reloa

[2015-03-19 19:00] lsult commented on #91
Thanks Ginger and thanks for doing a check of the usability

Thanks for catching that you can’t get back once you are at the end of the tutorial – Will, can we put the previous arrow on the last page and make the targets around the back and previous arrows bigger throughout? And thanks for the reminder to update the demo once the new changes are rolled out – I’ll put a note in my calendar to make

[2015-03-19 21:37] simpsonw commented on #91
I've added the "Previous" arrow to the "Certificate/Feedback" page and I also took a shot at making the arrows longer and increasing the space between them:

![larger_arrows_more_spacing](https://cloud.githubusercontent.com/assets/10437788/6741512/44949574-ce45-11e4-8c8e-188c3ac5af82.png)

Does that look good to everyone?

[2015-03-19 22:12] lsult commented on #91
I like it - I think the arrows stand out well thanks Will!

From: Will Simpson [mailto:notifications@github.com]
Sent: Thursday, March 19, 2015 2:37 PM
To: ualibraries/Guide-on-the-Side
Cc: Sult, Leslie A - (lsult)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

I've added the "Previous" arrow to the "Certificate/Feedback" page and I also took a shot a

[2015-03-20 15:46] yvonnemery commented on #91
Me too. Looks great.

From: lsult [mailto:notifications@github.com]
Sent: Thursday, March 19, 2015 3:12 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] The step arrows are too far from the tutorial content (#91)

I like it - I think the arrows stand out well thanks Will!

From: Will Simpson [mailto:notifications@github.com]
Sent: Thursday, March 1

[2015-03-20 22:06] michaelhagedon commented on #91
FYI pop-up mode arrows, progress bar, and Powered by footer are broken. I wonder if they don't use the same css?

[2015-03-23 15:40] simpsonw commented on #91
That's weird, @michaelhagedon.  It seems to be working for me locally.
![popup_mode_arrows](https://cloud.githubusercontent.com/assets/10437788/6783659/425c0ae4-d138-11e4-97a4-995a841abf9a.png)

[2015-03-30 18:22] #91 closed

[2015-03-31 19:04] simpsonw opened #124 "Use Composer for dependency managment."
New versions of CakePHP 2.x ship with a composer.json file.  It would be nice to not have any third party code in our repository.  I'm not sure how much work this would entail, but I think it would definitely be worth looking into.

[2015-03-31 19:07] simpsonw opened #125 "Use Phing for builds."
Newer version of CakePHP 2.X come with a build.xml file for use with Phing.  I think it would be worth looking into to see if we could replace our current build process with a Phing target.

[2015-04-15 20:33] simpsonw opened #126 "Magnified images are not resizable"
@yvonnemery reported:

I am no longer able to resize images. Need to be able to adjust them.

[2015-04-16 00:00] simpsonw commented on #126
@yvonnemery This seems to be working for me in Firefox.  Which browser were you using today?

[2015-04-16 02:48] yvonnemery commented on #126
Chrome
________________________________________
From: Will Simpson [notifications@github.com]
Sent: Wednesday, April 15, 2015 5:00 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] Magnified images are not resizable (#126)

@yvonnemery<https://github.com/yvonnemery> This seems to be working for me in Firefox. Which browser were you using today?

�
R

[2015-04-16 15:41] yvonnemery commented on #126
Okay. Am trying on IE now and it works. Guess I just can’t use Chrome for it.
Thanks!

From: Will Simpson [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 5:00 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] Magnified images are not resizable (#126)

@yvonnemery<https://github.com/yvonnemery> This seems to be working for me in Fir

[2015-04-16 15:41] simpsonw commented on #126
I was able to reproduce the problem @yvonnemery was having in Chrome.  I reverted my local installation back to the 1.0-beta3 release and had the same issue.  I have renamed the issue since this seems to be an issue of compatibility with Chrome generally rather than a specific issue relating to the magnify images feature.

[2015-04-16 15:59] yvonnemery commented on #126
Testing on IE and now the image can only be inserted at the top and it is really really tiny.

From: Will Simpson [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 5:00 PM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] Magnified images are not resizable (#126)

@yvonnemery<https://github.com/yvonnemery> This seems to be working for m

[2015-04-16 16:11] yvonnemery commented on #126
In IE I also can’t insert page breaks anywhere except at the top.
Yvonne

From: Will Simpson [mailto:notifications@github.com]
Sent: Thursday, April 16, 2015 8:41 AM
To: ualibraries/Guide-on-the-Side
Cc: Mery, Yvonne D - (ymery)
Subject: Re: [Guide-on-the-Side] Images are not resizable in Chrome (#126)

I was able to reproduce the problem @yvonnemery<https://github.com/yvonnemery> was having in Ch

[2015-04-16 16:34] simpsonw opened #127 "Images and page breaks can only be inserted at the top in IE"
# Steps to reproduce

1. Create or edit a tutorial in IE 11.
2. Add text.
3. Insert an image (or page break) after the text.

# Expected behavior

The image will appear after the text.

# Actual behavior

The image appears at the top of the tutorial.

# Notes

I think this issue and #126 are probably related to TinyMCE.  It might make sense to try upgrading the version of TinyMCE to see if that fi

[2015-04-16 16:35] simpsonw commented on #126
I have created issue #127 to document the issues @yvonnemery was having in IE.

[2015-04-17 17:00] michaelhagedon commented on #122
One example provided by Doreen Hansen.

This example is for XHTML, I'm not sure what you're using, but this is just an example of the line that would make it pass accessibility checks.
From W3C:

----------------------------------------------------------------------------------------------------------

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">

---------------------

[2015-04-21 20:56] michaelhagedon commented on #108
More info:
"Just a comment to support issue 108 (thanks for opening that!). We are currently running GOTS admin over https but that breaks the guide preview since the framed page won't load. So we are currently having to open a second browser to preview the guide as we develop it...awkward but it works."

- https://groups.google.com/d/msg/gots-discuss/CjeEzxr9nU4/RTdqHkL6PQ4J

[2015-04-21 20:58] simpsonw opened #128 "Logs are messy"
The logs are messy for GotS.  There are a lot of warnings and notices that ought to be cleaned up so that they aren't cluttering up the logs and obscuring potentially important information.  I'm adding this to 1.0-beta5 because I'd rather not do another release with things this messy.

[2015-04-21 21:08] simpsonw commented on #128
Scratch that, I'm going to see how much I can do of this now.

[2015-04-21 21:37] simpsonw commented on #128
I have cleaned a few things up.  The other warnings I see relate to removing pass by reference in function signatures and elsewhere, which I'm afraid may break some things, so I think it's best to put them off until the next release.

[2015-05-27 19:01] simpsonw opened #129 "Arrow tooltips show up in the wrong spot on mobile devices"
# Steps to reproduce
1. Visit a GotS installation on a mobile devices (tested on Chrome on Android Lollipop)
2. Go to a tutorial and navigate between the steps using the arrow.

# Expected behavior
The tooltips (e.g. "Previous" and "Next") will show directly above their respective arrows.

# Actual behavior
The tooltips appear scattered around the page:
![img_0235](https://cloud.githubusercontent.

[2015-06-20 19:32] michaelhagedon opened #130 "Trying to visit the admin index from /login when you're already logged in gives 404"
Same for the change password link.

[2015-06-25 00:42] michaelhagedon opened #131 "Allow unordered lists"
Alternatively, we may want to consider allowing TinyMCE to be configured from config.yml.

[2015-06-25 00:43] michaelhagedon commented on #131
Oops... change issue subject.

[2015-06-25 17:13] liquid06 opened #132 "GotS .gitignore needs work"
`git status` should come back "clean" - describing the branch or tag that's currently checked out. Untracked files that are still part of a normal installation should be excluded via the `.gitignore`.

Here's some output from a git status on our production GotS installation:

<pre>
$ git status
# Not currently on any branch.
# Untracked files:
#   (use "git add <file>..." to include in what will b

[2015-07-03 22:30] michaelhagedon opened #133 "There is no scrollbar in popup single-page view in Firefox"
Found by @MagnusEnger on Firefox 38 on Ubuntu.
Confirmed also on Firefox 32 on Ubuntu.

[2015-07-13 12:16] vicentepineiro opened #134 "Database Location"
Hi all, i'm triying to connect to another MySQL server modifying the config.yml file but it seems to have some error, because it doesn't work except with "host: localhost" config.

Someone with the solution for that problem?

Regards.

[2015-07-20 23:40] michaelhagedon commented on #43
A request from the UA to allow embedding of arbitrary iframes, say, for a Qualtrics survey is an example.

[2015-08-26 18:24] michaelhagedon opened #135 "Allow users to reset their own password"
Because only administrators or system administrators can do it now.

[2015-09-05 00:29] simpsonw opened #136 ""Next" and "Previous" show up out of place on long tutorials"
# Steps to reproduce
1. Create a tutorial with lots (> 40) of chapters/page breaks.
2. Scroll through the tutorial.
# Expected result

Only the arrow navigation will show below the content.
# Actual result

The "Previous" and "Next" text partially displays:

![gots_prev_next_bug](https://cloud.githubusercontent.com/assets/10437788/9696688/f23e16b4-5329-11e5-99b8-866955b58ba7.png)
# Notes

It appea

[2015-09-16 18:05] MagnusEnger commented on #26
I have the branch https://github.com/michaelhagedon/Guide-on-the-Side/tree/26_internationalization running with a "Norwegian bokmål" translation over here now: http://gots.libriotech.no/ Looks good so far!

[2015-12-03 21:25] #98 closed

[2016-01-15 14:34] nengard opened #140 "Guide blocks Javascript from loading"
If you see this page: http://demo.bywatersolutions.com you see there is a scrolling book image. If you go to http://gots.bywatersolutions.com/tutorial/koha-demo you see that the book bar isn't there.

[2016-01-17 14:36] Blake- commented on #140
Is that from this error?
`Uncaught SecurityError: Blocked a frame with origin "http://demo.bywatersolutions.com" from accessing a frame with origin "http://gots.bywatersolutions.com". Protocols, domains, and ports must match.
https://syndication.twitter.com/i/jot/syndication?dnt=1&l=%7B%22_category_%…w%22%2C%22page%22%3A%22timeline%22%2C%22action%22%3A%22impression%22%7D%7D Failed to load resource

[2016-01-27 20:32] WNickC commented on #140
I was thinking the js error
permisson denied to access property "document"
from basket.js:44:9
might be stopping the rest of the script from loading, however, I get the same error just loading our site in an iframe on another page, so it may be an issue on our end

[2016-01-27 21:22] michaelhagedon commented on #140
It look like the book bar is attempting to access the main document:
`str_cookie = parent.document.cookie;`
Because GotS runs on iframes, browser security restrictions are not going to allow that. We're open to hearing about other approaches, but at the moment your choices are to change your site, or to run that tutorial in popup mode.

[2016-02-04 17:11] simpsonw opened #141 "Scrolling broken in some instances"
In some (possibly all) cases, users are unable to scroll in the main tutorial iframe (see http://www.library.arizona.edu/applications/quickHelp/tutorial/searching-academic-search-complete).  It's worth noting that at least in Chrome the scrollbar seems to appear for a brief moment while the page is loading and then disappear, so this might be a JavaScript issue.

[2016-02-05 19:16] simpsonw commented on #141
A little more information:  This was first reported when trying to embed EBSCO Academic Search Complete.  I tried embedding a different site that also caused scrolling and it worked fine.  It appears that EBSCO is setting `overflow-y` to `hidden` on the `<body>` tag when it's embedded.  I tried to see if I could remove the property via JavaScript but it didn't work due to cross domain security iss

[2016-02-05 21:15] simpsonw commented on #141
It looks like this is something EBSCO is doing via JavaScript.  In master.js, they're checking to see if `window.top !== window.self`, which is essentially checking to see if the set is embedded.  If it is, they're setting `g.pixelHeight = "sticky"`, which in turn is causing `overflow-y` to be set to `hidden` on the body.  I don't think there's anything we can do about it other than use popup mode

[2016-02-08 17:21] simpsonw commented on #141
I am going to close this issue as it appears that there's nothing we can do about this on our end.  As mentioned on the mailing list, it's possible to work around this issue by adding the following to your EBSCO branding:

[code]

See https://groups.google.com/forum/#!topic/gots-discuss/-LObsuUwAoQ for more details.

[2016-02-08 17:21] #141 closed

[2016-02-08 19:10] simpsonw opened #142 "Add JavaScript localization"
As noted in #139, JavaScript messages (for example the "Click to enlarge this image" text) are not properly localized.  This task involves two steps: finding a technical solution for handling the localization/internationalization and finding appropriate translations for the supported languages (currently just English and Norwegian Bokmål).

[2016-02-08 19:12] simpsonw opened #143 "Provide localized default for feedback link"
Currently the feedback defaults to "What did you think of this tutorial?" despite the language selected in config.yml.  This task has two parts: figuring out the technical solution to providing the appropriate string and finding translations for the supported languages (currently English and Norwegian Bokmål).

[2016-02-08 19:14] simpsonw opened #144 "Create single language parameter for config.yml"
Currently there are two language parameters in config.yml: `app_language` and `editor_language`.  It would be ideal if there were only one master language variable to rule them all.

[2016-02-10 20:11] caosborne89 opened #145 "Users are intermittently not receiving certificates of completion"
The reason they’re failing is that these email addresses had a space before or after them.

[2016-02-15 18:54] obidm opened #147 "cannot insert image into upgraded GOTS"
I recently copied our current GOTS installation and upgraded it as a test. While trying to create new tutorials within the upgraded GOTS, no users can insert images - there's no error coming up, it just doesn't work. Nothing happens after you select a file for upload or put in the URL of one online. Also, some users, but not all, have trouble applying text effects like bold and underlline.

Any id

[2016-02-16 03:07] Blake- commented on #147
Did you check the permissions on app/webroot/uploads ?

[2016-02-16 20:07] obidm commented on #147
Yes. It is a copy of a working gots, so nothing was changed. I manually
checked of course, it's 755 from there down, for www-data, which is Apache2.

What else should I check?

Thank you,
Doug Simmons

Did you check the permissions on app/webroot/uploads ?

—
Reply to this email directly or view it on GitHub
<https://github.com/ualibraries/Guide-on-the-Side/issues/147#issuecomment-184492778>
.

[2016-02-16 20:16] Blake- commented on #147
darn, thought for sure that would be it. Can you switch on error display or logging for php? There's also an error log or two you can enable and have it write to ./app/tmp/logs/ if it's not already in app/Config/core.php

[2016-02-16 21:33] obidm commented on #147
at present in core.php I have this: define('LOG_ERROR', 2);

Maybe the fact that I can't find gots logs anywhere is an indication that I
do have permissions issues somewhere.

I am not sure I want more verbose error logs from PHP, this production
server is pretty busy and there's a lot of other PHP apps running. How
likely do you think it would be that I would suddenly start getting
gigabyte logs

[2016-02-16 21:38] Blake- commented on #147
eh, not likely, flip it on and then flip it back off as soon as you see something interesting.

[2016-02-19 22:35] simpsonw commented on #141
FWIW, this appears to be working now, e.g.

http://www.library.arizona.edu/applications/quickHelp/tutorial/searching-academic-search-complete

[2016-06-28 21:23] simpsonw opened #148 "Investigate HTTPS/mixed content issues"
We've gotten reports that HTTPS isn't working everywhere and people are getting mixed content errors.  Find where the problems are and fix them.

[2016-07-22 17:09] DarthGremlin opened #149 "Popup mode not working"
It is my understanding that popup mode was created so that tutorials could be created for sites that have X-Frame denial issues, correct?

I may be missing something, but when I try to enable popup mode on my tutorials I see no difference, and in searching the web for other GOTS tutorials that use popups I ran across this one: http://library.uvm.edu/guide_on_the_side/tutorial/how-to-use-popup-mode

[2016-07-27 18:25] simpsonw commented on #148
To add a little more context, this issue in question was observed at https://archweb.luc.edu/guide_on_the_side/.  It seems to be caused by the `<base>` tag's href property being set to http rather than https.  Specifying the full base URL with https in app/Config/core.php seems to be a workaround, e.g.
[code]

As for the underlying cause, `App.fullBaseUrl` is set in `lib/Cake/bootstrap.php` on lin

[2016-07-28 16:42] simpsonw commented on #148
I figured out a way of reproducing the issue mentioned, albeit one that requires having your php.ini set up in a specific way.  It involves the directive `variables_order`.  From php.net:

So if you set `variables_order` to a value that doesn't contain 's', then the `$_SERVER` superglobal isn't in scope and CakePHP in unable to determine whether or not things are running over HTTPS.

[2016-08-08 20:32] michaelhagedon opened #151 "Consider making prev/next tooltips configurable"
Or turn them off entirely?

See https://groups.google.com/d/msg/gots-discuss/twGenzH6Sy8/qcdA-BrJAQAJ

[2016-08-08 23:01] michaelhagedon commented on #149
Hi there,
There may be something wrong with your GotS installation. Here's what popup mode is supposed to do: http://code.library.arizona.edu/gots-sample/tutorial/google-scholar---popup-demo

[2016-08-09 16:15] simpsonw commented on #148
It looks like this is an issue with the way F5 load balancer works.  As I understand it, F5 handles all the HTTPS requests coming in and then offloads them as HTTP requests to the application servers.  This causes a problem because as far as Guide on the Side knows, PHP is not using HTTPS.  @caosborne89 found an article from Lullabot where they discussed inserting a special header via an iRule in

[2016-09-24 21:54] garyoliver opened #152 "A way to make frames nested window view work with more content"
Make guide on the side always load itself with the same SSL state as the page it loads in the frame. If the page loaded in the frame changes reload itself with the same SSL on/off state.

Is that something being discussed already I haven't seen it discussed.

[2016-09-26 21:24] michaelhagedon commented on #152
Neat idea, @garyoliver! I don't believe we've discussed it in quite that way, but I'd be interested in seeing how that would work. Of course, the server would have to be configured for HTTPS, and we'd have to be able to read the location of the iframe. Have you experimented with this at all?

[2016-09-27 02:16] garyoliver commented on #152
I haven't experimented with it and I may not have time but a quick check tells me that if you have an onload=   event on an iframe it then can run a script every time the iframe loads a new location.

And a javascript can also read the current URL of an iframe  document.getElementById("my_iframe").contentWindow.location.href

With that information the parent frames document should be able to reloa

[2016-09-28 00:17] michaelhagedon commented on #152
Cool!

If someone fleshed this out more, I’d definitely be interested in reviewing it!

[2016-10-12 19:30] caosborne89 opened #153 "Print / Send email fails with multiple emails and whitespace"
Perhaps this issue has already been considered, but a consistent issue seems to be that when someone puts in multiple emails and there is white space between the emails in additional to the commas, the email won't send nor is there any error message that comes up.

[2016-10-12 19:51] caosborne89 commented on #153
If anyone has time to confirm this, that would be much appreciated. To test this I put 3 emails (working ones) into the "Email address(es):" section like this: "email1@email.com  , email2@email.com  , email3.email.com" With a space or two in between the emails and the commas.
![screenshot_gots](https://cloud.githubusercontent.com/assets/6432158/19325349/911c6554-907a-11e6-866e-21ea15122a57.png)

[2016-11-04 18:20] caosborne89 commented on #147
Hello obidm,
What version of php are you using?

[2016-11-04 18:25] caosborne89 opened #154 "PHP7 Images not uploading"
I know GOTS doesn't officially support PHP7 as of right now, but one issue I've come across is that you can't upload images when using PHP7. I found that the deprecated function "split" is being used in phpimage tinymce plug-in. Changing it to "explode", seems to fix that issue.

[2016-11-04 18:30] caosborne89 commented on #154
#155

[2016-11-04 18:32] caosborne89 commented on #154
The fix above has been merged into master. Closing the ticket.

[2016-11-04 18:32] #154 closed

[2017-01-04 08:32] MagnusEnger opened #156 "Problem with translation and CakePHP 2.6.13"
Hi!

I had the new translation feature working nicely in a setup with CakePHP 2.4.10. Then I upgraded CakePHP to 2.6.13 and things turned a bit weird: just the first letter of any translated string was displayed. See attached screenshot:
![gots-translated-text-cut](https://cloud.githubusercontent.com/assets/13331/21635813/23e1a558-d260-11e6-9eab-88e24dde77c0.png)

Things look good again after reve

[2017-01-10 21:30] clintbellanger opened #157 "Issue with CakePHP cache during upgrade to 1.0beta4"
I'm following the UPGRADE.md steps to take our install from 1.0beta3 to 4.

I completed step 14 (Test to make sure everything still works in the new version) by loading the new install in a web browser. At this point the new install is in a folder called gots_beta4. Everything looks working at a glance.

I'm ready to do step 15 (Archive the old version and move the new version to take its place.)

[2017-01-12 15:36] simpsonw commented on #157
That's a good point, @clintbellanger!  CakePHP caching can be very stubborn and I think it would definitely make sense to add a warning (or possibly an optional step in the upgrade process) advising users about this.  I just want to clarify something so I can make sure I understand which steps you took:

# You moved the beta4 release to the production directory, gots/
# You got a 500 error, so you

[2017-01-12 16:32] clintbellanger commented on #157
@simpsonw Yes, those steps are correct. Thanks for looking at this!

[2017-02-01 21:58] #157 closed

[2017-02-10 23:10] caosborne89 opened #158 "UX issue with sending tutorial results"
I think a user of GOTS might have pointed out a legitimate UX issue ([gots-discussion board](https://groups.google.com/forum/#!topic/gots-discuss/Xo5DJFyk3o4). On the edit tutorial page the checkbox "Allow user to send to additional email addresses" kind of makes it sound like the user can still send an email to themselves. Also if you uncheck that and leave "Send all certificates to" blank, when

[2017-02-24 21:17] cg433n opened #159 "Add docs to docs directory"
Let's create a Jekyll website in a `./docs` directory and add documentation to it.

https://help.github.com/articles/user-organization-and-project-pages/#project-pages

[2017-03-15 21:21] caosborne89 commented on #153
Oops I must of been on an old branch when I went to test this. I actually fixed this a while ago ref #145. Seems to be working for me.

[2017-03-15 21:21] #153 closed

[2017-03-31 22:01] caosborne89 opened #160 "Last page of quiz unnecessary with all options are unselected"
In the gots-discussion board a user pointed out that when all options for the certificate and the option for the feedback link are unselected, you still see a final page with only a previous arrow.

[2017-04-05 00:38] michaelhagedon opened #161 "Support PHP 7"
The bundled CakeDC Migrations plugin crashes under PHP 7.x.

[2017-05-05 21:57] caosborne89 opened #163 "Consider setting X-Frame-Options header"
In order to prevent Cross-Frame Scripting, maybe we should set the X-Frame-Options header to DENY on pages that are particularly vulnerable to that sort of attack (i.e. login).

[2017-06-01 19:17] caosborne89 commented on #163
Fixes have been merged. Closing the ticket.

[2017-06-01 19:17] #163 closed

[2017-06-01 19:18] caosborne89 commented on #160
Fixes have been merged. Closing this ticket.

[2017-06-01 19:18] #160 closed

[2017-06-09 00:05] caosborne89 commented on #136
I think this has to do with how the height for each "scrollable" container is being set. One way to get a better look is to uncheck overflow-x  for div#scrollable and scroll a little to the right. It almost looks what's being cutoff from the other steps is leaking into the current step. Take a look at app/webroot/js/tutorials/view_tutorial_only.jsview_tutorial_only.js

[2017-06-09 16:47] caosborne89 commented on #136
So I've committed the only fix that I could come up with. It seems to work correctly, though I'd really appreciate it if someone could review this before merging. I'm not sure why we needed the inner html (Next and Previous) in the first place, so I maybe overlooking something.

[2017-06-12 18:54] zensense commented on #136
This seems to work where we leave an empty string for the title parameter of HTML->link() signature. I feel this is a bit hacky, but maybe necessary due to Cake internals for templates. https://book.cakephp.org/2.0/en/core-libraries/helpers/html.html

@caosborne89 Can you check your code and make sure that you only leave the title parameter empty.

[2017-06-12 18:54] #136 closed

[2017-08-01 21:54] simpsonw opened #169 "Pop up mode links not working in Chrome"
[As noted in gots-discuss](https://groups.google.com/forum/#!topic/gots-discuss/rAvBIJ7FT0U) links added to pop-up mode tutorials don't appear to be working, even when the host is running HTTPS.

When clicked, the JavaScript console outputs:

[code]

We may need to rethink our approach as it appears [Chrome may restrict this functionality further in the future.](https://bugs.chromium.org/p/chromiu

[2017-08-09 20:37] simpsonw opened #170 "JavaScript error on quiz"
If you go to the second quiz question ("Why do you need to reduce a research question to key concepts?") at:

http://ec2-52-3-120-211.compute-1.amazonaws.com/guide_on_the_side/tutorial/how-do-you-analyze-a-research-question

and choose an answer, a JavaScript error appears in the console:

[code]

[2017-09-01 17:31] michaelhagedon opened #171 "Table of contents is sometimes stuck open"
We've seen this before and may have fixed part of it, but it's back.

https://groups.google.com/forum/#!topic/gots-discuss/rWXq3jD560Q

[2017-09-25 17:19] simpsonw opened #173 "Pop up mode broken on IE 11"
# Steps to Reproduce

1. Visit the "Google Scholar - Pop Up Demo" tutorial in IE 11 (e.g. http://code.library.arizona.edu/gots-sample/tutorial/google-scholar---popup-demo)
2. Click the "Start Tutorial" button

# Expected Result

The tutorial will open in a new window and Google Scholar will open in your main window.

# Actual Result

We get a security warning from Google Scholar:

![google-scholar

[2017-10-10 15:03] caosborne89 opened #174 "Frame busting due to localStorage property inside the iframe"
I user reported an issue with embedding EBSCO into the right frame in his tutorial. The user did some research and found that if "localStorage" property is set on the site that is embedded in the iframe and the browser of the user viewing the tutorial is set to not accept-third-part cookies, the site won't show up in the iframe, the frame renders an empty white page. We need to verify that we can

[2017-10-10 17:22] caosborne89 commented on #174
Given that the default settings is to allow third-party-cookies, I'm going to close this.

[2017-10-10 17:22] #174 closed

[2017-12-14 18:53] simpsonw opened #175 "Paste mode sticky text is not translated"
# Steps to reproduce

* Log in to Guide on the Side as an admin
* Go to edit a tutorial
* Copy some text to the clipboard
* Click the "Paste as plaintext" button

# Expected result

You'll get a message telling you that paste is now in plaintext mode ("Paste is now in plain text mode. Click again to toggle back to regular paste mode.").

# Actual result

You'll get a message with the untranslated

[2018-01-11 21:08] pbhenson opened #176 "PHP Notice: Undefined index: Role in AppController.php on line 36"
We get a lot of these in our log files:

    1: [:error] [pid 28452] [client 64.114.207.67:9798] PHP Notice:  Undefined i
ndex: Role in
/var/www/localhost/htdocs/guide_on_the_side/app/Controller/AppController.php on
line 36, referer:
http://gots.library.cpp.edu/guide_on_the_side/tutorial/document-delivery
    1: [:error] [pid 92566] [client 64.114.207.67:15593] PHP Notice:  Undefined
index: Role i

[2018-01-12 19:47] pbhenson opened #177 "PHP Notice: Use of undefined constant username - assumed 'username' in CasAuthenticate.php on line 59"
Looks like there's a missing $ in the code in question:

    public function getUser($request = null) {
        $username = $this->determineUsername();
        if (username) {
            return $this->_findUser($username);
        } else {
            return false;
        }
    }

[2018-02-08 16:10] michaelhagedon commented on #177
Thanks, @pbhenson! I don't have CAS set up to test this right now, but that's a obvious error. This is fixed in `master`; let us know if you find it doesn't work.

[2018-02-08 16:10] #177 closed

[2018-02-12 16:47] liquid06 commented on #159
We discussed including the documentation that is currently on code.library.arizona.edu in the docs directory.

The content would include:

- About Guide on the Side
- Creator guide
- Style guide

To be resolved:

- The contact form (used for requesting demo accounts, general quesitons, technical questions)
- Redirect code.library.arizona.edu to an appropriate page (it is referenced in published ar

[2018-03-06 21:20] cindyharper opened #178 "Include Href link in tutorial text?"
I'd like to include a clickable link in the guide. I would include a targt, of course. Is this possible?

[2018-03-21 16:59] michaelhagedon commented on #178
Yes, the WYSIWYG editor has a link button.

[2018-03-22 20:08] rbrown3011 commented on #149
This is what I see for implementing Popup mode, an empty box (see link). I'm not sure what is supposed to go there. The desired opening URL? https://nnlm.gov/sites/default/files/nto/images/gots_popupmode.jpg
Thanks.

[2018-03-22 20:56] simpsonw commented on #149
@rbrown3011 I believe you might be using an older version of the database schema.  If you have SSH access to the server running GotS, make a backup of your database, navigate to the `app/` directory under your GotS installation and run:

[code]

[2018-03-22 21:06] rbrown3011 commented on #149
Thanks simpsonw. I forwarded your response to my system administrator.

[2018-05-25 20:42] vbielat opened #179 "PHP 7 Version"
Apolgies for my very novice question.
I have been told by our tech guru we can't have Guide on the Side because there is not a PHP7 version (only PHP5). This has something to do with the need to run a PHP7 server only.

I see there are some PHP7 entries in the Code, but cannot understand what it is saying.

Is there a PHP7 version or code updates and how can I point our tech guru to them so this c

[2018-05-25 20:51] caosborne89 commented on #179
Hello vbielat,
The current master branch has php7 support. The master branch is ahead of our current release. So I would just let your techies know to grab the git repository and use the master branch. Let me know if you have any other questions

Thanks,
Andy

[2018-05-25 20:59] vbielat commented on #179
Thank you so much for your super fast response!! I can leave for the weekend with my to-do list done!  Have a great holiday.

Veronica

[2018-10-05 18:33] michaelhagedon opened #180 "Can't edit questions in Chrome"
As [reported on gots-discuss](https://groups.google.com/d/msg/gots-discuss/0SgetkEIIhY/Vrr4P0P-EAAJ), Chrome is not allowing editors to edit questions. Firefox is working. I can reproduce in Chrome 69 on Ubuntu 18.04.

Less-than-ideal workarounds include editing in another browser, or creating a new question and deleting the old one.

[2018-11-29 16:31] michaelhagedon opened #181 "Support PHP 7.2"
PHP 5 is going out of support soon and, while master works with 7.0 (out of support next week) and 7.1 (another year), let's target 7.2. We have some third party plugins that don't work.

See https://groups.google.com/forum/#!topic/gots-discuss/e-3O29pbT58

[2018-11-29 16:36] michaelhagedon commented on #161
I did the specific thing I set out to do in this task. 7.2 support in https://github.com/ualibraries/Guide-on-the-Side/issues/181.

[2018-11-29 16:36] #161 closed

[2018-11-29 16:37] michaelhagedon commented on #179
We'll do more work specifically around 7.2 in #181 .

[2018-11-29 16:37] #179 closed

[2019-02-01 17:59] lpmagnuson opened #183 "Bolded text hyperlink in right frame error"
Hello, I think this error is slightly different than the closed issue #61 .

In popup mode, if a tutorial creator bolds text in the text editor, **then** adds a hyperlink to bolded text that is set to open , the link in the tutorial for the user results in an error in FireFox (in Chrome, the link simply does nothing).

To see an example of this, see this tutorial, which has two links - link that w

[2019-05-23 14:39] tkarlseng opened #184 "Problem with JSTOR link"

[2019-05-28 15:27] michaelhagedon commented on #184
It looks like JSTOR has just recently started preventing framing. Since Guide on the Side relies on this for its normal functioning, you'll have to switch to popup mode. You can find that in the tutorial settings.

It's not ideal, but that's why popup mode exists.

[2021-01-11 16:10] garyoliver commented on #181
??Has a PHP 7.2 and upgrade procedure been found that is compatible with RedHat ???
I will need upgrade from an older version instructions for an Un-Confident admin.
Me

[2022-04-08 17:01] vinmansbrew commented on #181
Has there been any progress, independently, on this? Rhel 6 is eol, 7 is almost eol. I mean, I "could" install php 7.2 on rhel 8, but even php 7.2 will be gone soon. Or, alternately, is there a comparable app to take the place of GotS?